<form class="full-width" [formGroup]="nameAndSurnameForm">
  <h4 class="subsection-header">Editovat jméno a příjmení</h4>
  <mat-form-field class="col-12 col-md-6" color="primary" floatLabel="always">
    <mat-label>{{"USER.FIRSTNAME_B" | translate}}</mat-label>
    <input formControlName="firstname"
           matInput
           type="text"
           [placeholder]="user?.firstname ?? ('USER.FIRSTNAME_B' | translate)">
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" floatLabel="always">
    <mat-label>{{"USER.LASTNAME_B" | translate}}</mat-label>
    <input formControlName="lastname"
           matInput
           type="text"
           [placeholder]="user?.lastname ?? ('USER.LASTNAME_B' | translate)">
  </mat-form-field>
  <div class='mat-form-field-row'>
    <button mat-raised-button
            type="submit"
            color="primary"
            class="full-width">
      {{"FORMS.SUBMIT" | translate}}
    </button>
  </div>
</form>
