<div class="fill-space-between-header-footer wrapper">
  <div class="row text-center">
    <h3>Register user</h3>
  </div>
  <div class="row">
    <form>
      <div class="col-5">
        <div class="row mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.USERNAME" | translate }}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="row mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.PASSWORD" | translate }}</mat-label>
            <mat-hint>{{"FORMS.PASSWORD_LENGTH" | translate: {length: passwordInput.value.length} }}</mat-hint>
            <input #passwordInput matInput [type]="passVisibilityToggle.type">
            <mat-pass-toggle-visibility #passVisibilityToggle matSuffix></mat-pass-toggle-visibility>
          </mat-form-field>
        </div>
        <div class="row mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "FORMS.REPEAT_SUBJECT" | translate: {subject: ("USER.PASSWORD" | translate)} }}</mat-label>
            <input matInput [type]="repeatPassVisibilityToggle.type">
            <mat-pass-toggle-visibility #repeatPassVisibilityToggle matSuffix></mat-pass-toggle-visibility>
          </mat-form-field>
        </div>
        <div class="row mat-form-field-row">
          <mat-label>Password strength</mat-label>
          <mat-password-strength #passwordStrengthComponent [password]="passwordInput.value"></mat-password-strength>
          <mat-error *ngIf="passwordInput.value.length <= 8">Password must be at least 8 characters long</mat-error>
          <mat-error *ngIf="passwordInput.value.length >= 64">Password must not be longer than 64 characters</mat-error>
        </div>
      </div>
      <div class="col-2"><!-- Space between columns --></div>
      <div class="col-5">
        <div class="mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.FIRSTNAME" | translate | titlecase}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.LASTNAME" | translate | titlecase}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.EMAIL_ADDRESS" | translate | titlecase}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="mat-form-field-row">
          <mat-form-field>
            <mat-label>{{ "USER.TELEPHONE_NUMBER" | translate | titlecase}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
