<div class="page-content-margin" *ngIf="advertisementDetail">
  <div [class]="['col-12', ratedUser ? 'col-md-6' : null, ratedUser ? 'col-lg-8' : null]">
    <h3 class="section-header">{{advertisementDetail.title | multilingualTextToCurrentLanguage | async}}</h3>
    <div class="no-margin-row">
      <p>{{advertisementDetail.description | multilingualTextToCurrentLanguage | async}}</p>
    </div>
    <app-key-value-table [listedItems$]="currentListedItemsPage"
                         [advertisementType]="advertisementDetail.type"
                         (resourceNameClick)="showListedItemDetail($event)"
                         (pageChange)="onListedItemsPageChange($event)"
                         [pageInfo]="pageInfo"></app-key-value-table>
  </div>
  <div class="col-12 col-md-6 col-lg-4 margin-top-10 margin-top-md-0" *ngIf="ratedUser">
    <div class="no-margin-row margin-bottom-15">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <h3 class="subsection-header">Informace o inzerátu</h3>
        </mat-card-header>

      </mat-card>
    </div>
    <div class="no-margin-row margin-bottom-15">
      <app-user-with-review [ratedUser]="ratedUser"></app-user-with-review>
    </div>
  </div>
  <div class="margin-tb-25">
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="initialAdvertisementResponse">
    <h4 class="subsection-header">{{"ADVERTISEMENT_RESPONSE_FORM.HEADER" | translate}}</h4>
    <app-advertisement-response [initialAdvertisementResponse]="initialAdvertisementResponse"
                                [advertisementType]="advertisementDetail.type">

    </app-advertisement-response>
  </div>
</div>
