<div class="page-content-margin" *ngIf="advertisementDetail">
  <div [class]="['col-12', advertiser ? 'col-md-6' : null, advertiser ? 'col-lg-8' : null]">
    <div class="d-flex align-items-center">
      <h3 class="section-header">{{advertisementDetail.title | multilingualTextToCurrentLanguage | async}}</h3>
      <div
        class="flex-fill
                 d-flex
                 justify-content-end
                 gap-lg-3 gap-md-3 gap-1">
        <ng-container *ngIf="shareButtonsLink">
          <a
            shareButton="email"
            [url]="shareButtonsLink"
            mat-icon-button
            aria-label="Email" ><mat-icon>email</mat-icon></a>
          <button shareButton="facebook"
                  mat-icon-button
                  aria-label="Facebook"
                  [url]="shareButtonsLink"
          ><mat-icon>facebook</mat-icon></button>
        </ng-container>
      </div>
    </div>
    <div class="no-margin-row">
      <p>{{advertisementDetail.description | multilingualTextToCurrentLanguage | async}}</p>
    </div>
    <app-key-value-table [listedItems$]="currentListedItemsPage$"
                         [advertisementType]="advertisementDetail.type"
                         (resourceNameClick)="showListedItemDetail($event)"
                         (pageChange)="onListedItemsPageChange($event)"
                         [pageInfo]="pageInfo">
    </app-key-value-table>
  </div>
  <div class="col-12 col-md-6 col-lg-4 margin-top-10 margin-top-md-0" *ngIf="advertiser">
    <div class="no-margin-row margin-bottom-15">
      <app-advertisement-preview [advertisementInfo]="advertisementDetail"
                                 [title]="'ADVERTISEMENT.PREVIEW_CARD.TITLE' | translate">
      </app-advertisement-preview>
    </div>
    <div class="no-margin-row margin-bottom-15">
      <app-user-preview [user]="advertiser"
                        [title]="'ADVERTISEMENT.ADVERTISER_PREVIEW_CARD.TITLE' | translate">
      </app-user-preview>
    </div>
  </div>
  <div class="margin-tb-25">
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="canRespond && initialAdvertisementResponse">
    <h4 class="subsection-header">{{"ADVERTISEMENT_RESPONSE_FORM.HEADER" | translate}}</h4>
    <app-advertisement-response [initialAdvertisementResponse]="initialAdvertisementResponse"
                                [advertisementType]="advertisementDetail.type">

    </app-advertisement-response>
  </div>
</div>
