@import "src/styles/breakpoints";

.listed-items-table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  &.resource_name {
    width: auto;
  }
  &.amount {
    width: 8em;
    text-align: center;
  }
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
