<h3 mat-dialog-title>
  {{titleTranslateKey | translate}}
</h3>
<div mat-dialog-content>
  <div class="col-12">
    <span>{{messageTranslateKey | translate}}</span>
  </div>
  <div class="margin-lr-15">
    <form [formGroup]="form" (ngSubmit)="submit(form)">
      <div class='mat-form-field-row'>
        <mat-form-field color="primary">
          <mat-label>{{codeFieldLabelTranslateKey | translate}}</mat-label>
          <input formControlName="code"
                 matInput
                 type="text"
                 [placeholder]="codeFieldPlaceholderTranslateKey | translate">
          <mat-hint>{{codeFieldHintTranslateKey | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div class='mat-form-field-row'>
        <button mat-raised-button
                type="submit"
                color="primary"
                class="full-width">
          {{"FORMS.SUBMIT" | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
