<form [formGroup]="form" (submit)="onSubmit()">
  <!-- Basic information step -->
  <div class="col-lg-5 col-md-6 col-12 d-block margin-lr-auto">
    <div class="col-12 padding-left-0">
      <span class="checkboxes-group-title">
        {{ "HELP_LIST.FILTER_FORM.TYPE_OF_ADVERTISEMENT.LABEL" | translate }}
      </span>
    </div>
    <mat-radio-group [formControlName]="formControlsNames.advertisementType"
                     (change)="onTypeChanged($event.value)">
      <div class="col-12 col-md-5">
        <mat-radio-button color="primary" value="offer">
          {{ "CREATE_ADVERTISEMENT.FORM.ADVERTISEMENT_TYPE.OFFER" | translate }}
        </mat-radio-button>
      </div>
      <div class="col-12 col-md-5">
        <mat-radio-button color="primary" value="request">
          {{ "CREATE_ADVERTISEMENT.FORM.ADVERTISEMENT_TYPE.REQUEST" | translate }}
        </mat-radio-button>
      </div>
    </mat-radio-group>
    <div class="col-12 col-sm-6 padding-right-sm-15">
      <app-language-selection-component [formControlName]="formControlsNames.primaryLanguage"
                                        [availableLanguages]="availableLanguages"
                                        [label]="'CREATE_ADVERTISEMENT.FORM.PRIMARY_ADVERTISEMENT_LANG.HINT' | translate "
                                        [hint]="'CREATE_ADVERTISEMENT.FORM.PRIMARY_ADVERTISEMENT_LANG.HINT' | translate">
      </app-language-selection-component>
    </div>
    <div class="col-12 col-sm-6 padding-left-sm-15 padding-bottom-8">
      <app-language-selection-component [formControlName]="formControlsNames.currentLanguage"
                                        [availableLanguages]="availableLanguages"
                                        [label]="'CREATE_ADVERTISEMENT.FORM.CURRENT_ADVERTISEMENT_LANG.HINT' | translate "
                                        [hint]="'CREATE_ADVERTISEMENT.FORM.CURRENT_ADVERTISEMENT_LANG.HINT' | translate">
      </app-language-selection-component>
    </div>
    <div class="col-12">
      <div class='mat-form-field-row'>
        <app-multilingual-text-input [formControlName]="formControlsNames.advertisementTitle"
                                     [languages]="availableLanguagesCodes"
                                     [selectedLanguage]="currentLanguageCode"
                                     [defaultLanguage]="primaryLanguageCode"
                                     [removeEmptyTextLanguages]="true"
                                     [label]="'CREATE_ADVERTISEMENT.FORM.TITLE.LABEL' | translate"
                                     [hint]="'CREATE_ADVERTISEMENT.FORM.TITLE.HINT' | translate"
                                     [placeholder]="'CREATE_ADVERTISEMENT.FORM.TITLE.PLACEHOLDER' | translate"
                                     [requiredLanguages]="[primaryLanguageCode]">

        </app-multilingual-text-input>
      </div>
      <div class='mat-form-field-row'>
        <app-multilingual-textarea [formControlName]="formControlsNames.advertisementDescription"
                                     [languages]="availableLanguagesCodes"
                                     [selectedLanguage]="currentLanguageCode"
                                     [defaultLanguage]="primaryLanguageCode"
                                     [removeEmptyTextLanguages]="true"
                                     [label]="'CREATE_ADVERTISEMENT.FORM.DESCRIPTION.LABEL' | translate"
                                     [hint]="'CREATE_ADVERTISEMENT.FORM.DESCRIPTION.HINT' | translate"
                                     [placeholder]="'CREATE_ADVERTISEMENT.FORM.DESCRIPTION.PLACEHOLDER' | translate">

        </app-multilingual-textarea>
      </div>
    </div>
  </div>
</form>
