<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
    <b>Česká verze:</b>
    <p>
        Přišla odpověď na Váš inzerát <a th:href="${advertisementDetailUrl}" th:text="${advertisementTitleCs}"></a>
    </p>
    <p>
        Odpověď naleznete na následující adrese:<br>
        <a th:href="${responseResolveUrl}" th:text="${responseResolveUrl}"></a>
    </p>
    <p>
        Výše uvedený odkaz slouží jako přístupvý klíč umožňující přijmnutí a zamítnutí odpovědi.<br>
        Prosíme, <b>nesdílejte ho s nikým komu tuto akci nechcete umožnit!</b>
    </p>
    <p>
        Pokud byste někomu chtěli umožňit <b>zobrazení odpovedi</b>, můžete tak učinit zasláním následujícího odkazu:<br>
        <a th:href="${responsePreviewUrl}" th:text="${responsePreviewUrl}"></a>
    </p>
    <th:block th:replace="~{reusable_snippets/signature_cs.html}"></th:block>
    <hr>
    <b>English translation:</b>
    <p>
        Response your advertisement
        &quot;<a th:href="${advertisementDetailUrl}" th:text="${advertisementTitleEn}"></a>&quot;
        has been received.
    </p>
    <p>
        The response can be found using following link:<br>
        <a th:href="${responseResolveUrl}" th:text="${responseResolveUrl}"></a>
    </p>
    <p>
        The link above serves as a key that allows you to resolve the response (accept or cancel).
        Please, <b>don't share this link with anyone who you don't want to be allowed to do these actions!</b>
    </p>
    <p>
        In case you wanted to allow someone to <b>only view the response</b>, you can use following link:<br>
        <a th:href="${responsePreviewUrl}" th:text="${responsePreviewUrl}"></a>
    </p>
    <th:block th:replace="~{reusable_snippets/signature_en.html}"></th:block>
    </body>
</html>