/.idea/
/out/production/Egidio/.gitkeep
/out/production/Egidio/i18n/cs.json
/out/production/Egidio/cs.json
/out/production/Egidio/i18n/en.json
/out/production/Egidio/en.json
/out/production/Egidio/logos/fit-cs.svg
/out/production/Egidio/logos/fit-en.svg
/out/production/Egidio/logos/opendatalab.svg
/out/production/Egidio/logos/profinit-claim-cs.jpg
/out/production/Egidio/logos/profinit-claim-en.jpg
/source/backend/src/main/assets/env/
