<div class="col-12 col-md-10 col-lg-8 margin-lr-auto d-block">
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Firstname</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Lastname</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Email</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Repeat email</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Telephone number</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class='mat-form-field-row margin-lr-md-15'>
      <mat-form-field color="primary">
        <mat-label>Repeat telephone number</mat-label>
        <input formControlName="Firstname"
               matInput
               type="text"
               placeholder="Firstname">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
