<div class="page-content-margin">
  <div *ngIf="displayEnglishVariant">
    <h3 class="section-header">The Privacy Policy</h3>
    <p style="font-style: italic;">
      Last Updated: November 2021
    </p>
    <p>
      Profinit EU s.r.o. (“Egidio” or “we”) is committed to
      complying with data protection legislation, including the data
      protection regime introduced by the General Data Protection Regulation
      (EU Regulation 2016/679, the “GDPR”). This privacy notice contains
      information on what personal data we collect, what we do with that
      information, and what rights you have.
    </p>
    <p>
      We process some personal data in order to run our business.
      There are a limited number of circumstances where we may share your
      information with third parties (for example, pursuant to a court order,
      if we are part of a merger, or with our business partners and service
      providers who support our business or collaborate with us). We take the
      security of your information seriously and take steps to keep your
      information secure. Please read the full Privacy and Security Statement
      below and you can always contact us if you have questions.
    </p>

    <h4 class="subsection-header">INTRODUCTION</h4>
    <p>
      We respect your privacy and are committed to protecting it
      through our compliance with this Privacy and Security Statement. This
      <!--  -->
      Privacy and Security Statement
      (together with our <a routerLink="/terms-of-services">Terms of Service</a>)
      describes the types of information we may collect from you or that
      you may provide-for example, when you visit any of our websites or
      contact us-and how we use, protect, and disclose that information.
    </p>
    <p>
      This Privacy and Security Statement does not apply to
      information collected on any third-party site or application (including
      advertising) that may link to or be accessible from our websites. We are
      not responsible for the privacy policies or data collection, use and
      disclosure practices of those sites. We encourage you to review the
      privacy policies of each site you visit.
    </p>
    <p>
      Please read this Privacy and Security Statement carefully to
      understand Egidio’s policies and practices regarding your information
      and how we will treat it. By accessing or using any of our websites or
      services (including email communications), you agree to this Privacy and
      Security Statement. This Statement may change from time to time, and
      these changes may affect how we use the information described below, so
      please check the Privacy and Security Statement periodically for
      updates.
    </p>

    <h4 class="subsection-header">NOTICE ABOUT HOW WE USE AND PROTECT PERSONAL INFORMATION</h4>
    <p>
      We collect several types of information for our business operations, including but not limited to:<br>
    </p>
    <p>
      <i>Information you provide to us.</i> When you navigate our
      websites or contact us, we may request or you may choose to provide us
      with certain information. This may include information by which you may
      be personally identified (“personal information”), such as name,
      employer, e-mail address or telephone number, and records and copies of
      your correspondence with us. For security purposes, we may also collect
      personal information from you if you visit one of our offices.
    </p>
    <p>
      <i>Information collected from forms on our websites.</i> This
      includes information provided at the time of registering to use portions
      of our websites or our products and services, posting material, or
      requesting further services. We may ask you for information when you
      report a problem with our websites, products or services.
    </p>
    <p>
      <i>Usage details, IP addresses and cookies.</i> As you navigate
      through and interact with our websites, we may automatically collect
      certain information about your equipment, browsing actions and patterns
      using common internet technologies, such as cookies and Web beacons.
      This may include details of your visits to our websites, including
      information about your connectivity, such as your IP address and browser
      information, location data, logs and other communication data, and the
      resources that you access and use on the websites. This information
      helps us to improve our websites and to deliver better and more
      personalized content and services by enabling us to estimate our
      audience size and usage patterns and recognize you when you return to
      our websites.
    </p>
    <p>
      <i>Email marketing.</i> As a current or previous customer or
      user of our products or services, you may periodically receive emails
      from us containing details about features of the products you use and/or
      about similar products or services that we offer. Such processing may
      include the placing of beacons, or pixels, that let us know if you have
      opened our email and how long the email was open. We do this in order to
      see which emails are effective and which are not, so that we can
      improve our content and services. It helps us make sure that you are
      getting emails from us that you find useful and relevant. In doing so,
      we will not track your location or device information.
    </p>
    <p>
      <i>General business-related information.</i>
      We may also receive other personal information from or about you in the ordinary course of our business.
    </p>
    <p>
      We use information that we collect about you or that you provide to us, including personal information:
    </p>
    <ul>
      <li>To present our websites, products and services to you and continuously improve upon them.</li>
      <li>To provide you with information, products or services that you request from us.</li>
      <li>To notify you about changes to our website, products or services (including new offerings) and promotions or events.</li>
      <li>To maintain the integrity and security of our websites, products, and services.</li>
      <li>For our ordinary business operations, including human
        resources, recruiting, equity investments, and business research and
        outreach.</li>
    </ul>
    <p>
      <i>Legal basis for the processing.</i> We are not allowed to process
      personal data if we do not have a valid legal ground. Therefore, we
      will only process your personal data if:
    </p>
    <ul>
      <li>the processing is necessary to perform our contractual
        obligations towards you or to take pre-contractual steps at your
        request, such as when we authenticate your log-in to our services or
        ensure that you only have access to the services and data we have agreed
        to provide you with;</li>
      <li>the processing is necessary to comply with our legal or
        regulatory obligations, such as tax reporting or regulatory
        requirements;</li>
      <li>the processing is necessary for the legitimate interests
        of Egidio, and does not unduly affect your interests or fundamental
        rights and freedoms (see below);</li>
      <li>the processing is necessary for the performance of a task carried out in the public interest; or</li>
      <li>in some cases, and as may be requested from you from time to time, we have obtained prior consent.</li>
    </ul>
    To the extent that we process any special categories of data relating to you, we will do so because:<br>
    <ul>
      <li>the data has been manifestly made public;</li>
      <li>the processing is necessary for the establishment, exercise or defense of a legal claim;</li>
      <li>the processing is necessary for reasons of substantial public interest; or</li>
      <li>you have given your explicit consent to us to process that information (where legally permissible).</li>
    </ul>

    <h4 class="subsection-header">DISCLOSURE OF YOUR INFORMATION</h4>
    <p>
      Protecting your personal information is important to us and we
      neither rent nor sell your personal information to anyone. We may
      disclose or transfer personal information that we collect or you provide
      as described in this Privacy and Security Statement, including:
    </p>
    <ul>
      <li>To a buyer or other successor in the event of a merger,
        acquisition, divestiture, restructuring, reorganization, dissolution or
        other sale or transfer of some or all of Egidio’s assets, in which
        personal information held by Egidio about our websites’ users is among
        the assets transferred.</li>
      <li>To our subsidiaries, affiliates, agents, contractors,
        service providers and other third parties we use to support our business
        or collaborate with and who are bound by contractual obligations to
        keep personal information confidential and use it only for the purposes
        of providing services for or with us.
      </li>
      <li>To comply with court order, law or legal process, including to respond to government or regulatory requests.</li>
      <li>To enforce or apply our Terms of Use and other agreements that govern the sale or use of our products and services.</li>
      <li>To protect the rights, property or security of Egidio, our employees, our users or others.</li>
    </ul>

    <h4 class="subsection-header">ONWARD TRANSFER OF YOUR INFORMATION</h4>
    <p>
      To facilitate our global operations, and in accordance with
      applicable laws, we may transfer your personal information to, and
      access your personal information from, our corporate offices,
      subsidiaries, and affiliates in the various countries in which we
      operate, including the United States. Non-EEA countries may not offer
      the same level of personal data protection as EEA countries.
    </p>
    <p>
      If your personal data is transferred outside the EEA, we will
      put in place suitable safeguards to ensure that such transfer is carried
      out in compliance with applicable data protection rules. To ensure this
      level of protection for your personal information, we may use a data
      transfer agreement with the third-party recipient based on standard
      contractual clauses approved by the European Commission or ensure that
      the transfer is to a jurisdiction that is the subject of an adequacy
      decision by the European Commission or utilize another valid basis for
      transfer meeting the requirements for appropriate safeguards under the
      GDPR. You may request additional information in this respect and obtain
      information regarding the relevant safeguard by exercising your rights
      as set out below. Where Egidio transfers personal data to other group
      companies, we rely on the standard contractual clauses.
    </p>

    <h4 class="subsection-header">CHOICES ABOUT HOW WE USE AND DISCLOSE YOUR INFORMATION</h4>
    <p>
      We strive to provide you with choices regarding the personal
      information you provide to us. Here are a couple of ways you can have
      control over your information:
    </p>
    <ul>
      <li>Tracking Technologies and Advertising. Depending on your
        browser, you may be able to change settings to refuse all or some
        browser cookies, or to alert you when cookies are being sent. If you
        disable or refuse cookies, please note that some parts of the site may
        then be inaccessible or not function properly. In relation to email, you
        can disable most email tracking technology by preventing the loading of
        embedded pictures in the email. You can do this using your email
        software settings.</li>
      <li>Promotional Offers from the Company. If you do not wish
        to receive promotional e-mail messages from us, you can opt-out by
        sending us an e-mail at
        <a href="mailto:correspondence.egidio@gmail.com">
          correspondence.egidio@gmail.com
        </a>
        asking to be omitted from future e-mail distributions.</li>
    </ul>


    <h4 class="subsection-header">DATA INTEGRITY AND PROPORTIONALITY</h4>
    <p>
      We only collect and retain as much personal information as
      needed for specific, identified purposes described in this Privacy and
      Security Policy and we will not use it in any way that is incompatible
      with those purposes.
    </p>

    <h4 class="subsection-header">WHAT ARE YOUR RIGHTS AND HOW CAN YOU EXERCISE THEM?</h4>
    <p>
      You may have a right to access and to obtain a copy of your
      personal data as processed by Egidio. If you believe that any
      information we hold about you is incorrect or incomplete, you may also
      request the correction of your personal data.<br>
      You may also have the right to:
    </p>
    <ul>
      <li>object to the processing of your personal data;</li>
      <li>request the erasure of your personal data;</li>
      <li>request restriction on the processing of your personal data; and/or</li>
      <li>withdraw your consent where Egidio obtained your
        consent to process personal data (without this withdrawal affecting the
        lawfulness of any processing that took place prior to the withdrawal).</li>
    </ul>
    <p>
      We will honor such requests, withdrawal or objection as required
      under applicable data protection rules but these rights are not
      absolute: they do not always apply and exemptions may be engaged. We
      will usually, in response to a request, ask you to verify your identity
      and/or provide information that helps us to better understand your
      request. If we do not comply with your request, we will explain why.
    </p>

    <h4 class="subsection-header">EXERCISING YOUR RIGHTS</h4>
    <p>
      To exercise the above rights, you may send an email to <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
      If you are not satisfied with how we process your personal data, please
      let us know and we will investigate your concern. Please raise any
      concerns by contacting our Data Protection Officer at <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.<br>
    </p>
    <p>
      If you are not satisfied with our response, you have the right
      to make a complaint to the data protection authority in the jurisdiction
      where you live or work, or in the place where you think an issue in
      relation to your data has arisen. The contact details of each Data
      Protection Authority can be found at the following website:<a href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm"> https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm</a>
    </p>

    <h4 class="subsection-header">SECURITY</h4>
    <p>
      We take your security seriously and take reasonable steps to
      protect and secure your personal information from unauthorized access,
      use, and disclosure. We have implemented adequate technical and
      organizational measures to protect personal data against unauthorized,
      accidental or unlawful destruction, loss, alteration, misuse, disclosure
      or access and against all other unlawful forms of processing. These
      security measures have been implemented taking into account the state of
      the art of the technology, their cost of implementation, the risks
      presented by the processing and the nature of the personal data, with
      particular care for sensitive data.
    </p>
    <p>
      The safety and security of your information also depends on you.
      Where we have given you (or where you have chosen) a password for
      access to certain parts of our websites, products, or services, you are
      responsible for keeping this password confidential. Please do not share
      your password with anyone.
    </p>
    <p>
      Although we take reasonable security measures to protect your
      personal information, for example, by using Secure Socket Layer
      encryption when you transmit your password, we cannot guarantee the
      security of your personal information transmitted to our websites. The
      transmission of information via the internet is not 100% secure and we
      cannot ensure or warrant the security of any information you transmit to
      us. We are not responsible for circumvention of any privacy settings or
      security measures contained on the websites.
    </p>

    <h4 class="subsection-header">HOW LONG DO WE STORE YOUR DATA?</h4>
    <p>
      We will only retain personal data for as long as necessary to
      fulfil the purpose for which it may lawfully be processed or to comply
      with legal, regulatory or internal policy requirements.
    </p>

    <h4 class="subsection-header">CHANGES TO OUR PRIVACY AND SECURITY STATEMENT</h4>
    <p>
      We may amend this Privacy and Security Statement from time to
      time. We encourage you to revisit this page periodically to read the
      current version of this Statement in effect. If you have any concerns or
      questions about this Statement or if you would like to lodge a
      complaint, please contact <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
    </p>

    <h4 class="subsection-header">CHILDREN UNDER THE AGE OF 13</h4>
    <p>
      Our websites are not intended for children under 13 years of
      age. If you become aware that your child has provided us with personal
      information without your consent, please contact us at <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>
      and we will work to delete it. We do not knowingly collect personal information from children under 13.
    </p>

    <h4 class="subsection-header">DATA PROTECTION OFFICER</h4>
    <p>
      To communicate with our Data Protection Officer,
      please email <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
    </p>

    <h4 class="subsection-header">CONTACT INFORMATION</h4>
    <p>
      If you have any questions or comments about this Privacy and Security Statement, please contact us by emailing us at
      <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a> <br> or by writing to us at:<br>
    </p>
    <p>
      <strong>Profinit EU, s.r.o.</strong><br>
      Subject: Legal Department, Privacy Statement Issues<br>
      Tychonova 2, 160 00 Prague 6<br>
      Czech Republic
    </p>
  </div>

  <div *ngIf="displayCzechVariant">
    <h3 class="section-header">Zpracování osobních údajů</h3>
    <p>
      Profinit EU s.r.o. („Egidio“ nebo „my“) se zavazuje k dodržování legislativy v oblasti ochrany osobních údajů,
      včetně režimu ochrany osobních údajů zavedeného nařízením GDPR (nařízení EU 2016/679, „GDPR“).
      Tato zpráva o ochraně osobních údajů obsahuje informace o tom, jaké osobní údaje shromažďujeme,
      co s těmito informacemi děláme a jaká máte práva.
    </p>
    <p>
      Shromažďujeme některé osobní údaje za účelem provozu naší služby.
      Existuje omezený počet situací, kdy můžeme vaše informace sdílet s třetími stranami
      (například na základě soudního rozkazu,
      pokud jsme součástí fúze, nebo s našimi obchodními partnery a poskytovateli služeb,
      kteří podporují naše podnikání nebo spolupracují s námi).
      Vážíme si bezpečnosti vašich informací a přijímáme opatření k jejich zabezpečení.
      Přečtěte si prosím celé prohlášení o ochraně osobních údajů a bez váhání nás kontaktujte, pokud máte otázky.
    </p>

    <h4 class="subsection-header">ÚVOD</h4>
    <p>
      Respektujeme vaše soukromí a zavazujeme se jej chránit dodržováním tohoto Prohlášení o ochraně osobních údajů a bezpečnosti.
      Toto Prohlášení o ochraně osobních údajů a bezpečnosti
      (společně s našimi <a routerLink="/terms-of-services">Podmínkami služby</a>
      ) popisuje typy informací, které od vás můžeme shromažďovat,
      nebo které nám můžete poskytovat – například, když navštívíte některou z našich webových stránek, nebo nás kontaktujete – a způsob,
      jakým tyto informace používáme, chráníme a sdílíme.
    </p>
    <p>
      Toto Prohlášení o ochraně osobních údajů a bezpečnosti se nevztahuje na
      informace shromažďované na jakékoli webové stránce nebo aplikaci třetí strany (včetně reklamy),
      která může odkazovat na naše webové stránky nebo být k nim přístupná.
      Nejsme zodpovědní za zásady ochrany osobních údajů nebo praktiky shromažďování, používání a sdílení dat těchto stránek.
      Vážně vás vyzýváme k prostudování zásad ochrany osobních údajů každé stránky, kterou navštívíte.
    </p>
    <p>
      Toto Prohlášení o ochraně osobních údajů a bezpečnosti si prosím přečtěte pozorně,
      abyste pochopili politiky a postupy společnosti Egidio týkající se vašich informací a způsob, jakým s nimi naložíme.
      Tím, že přistupujete nebo používáte některou z našich webových stránek nebo služeb (včetně komunikace prostřednictvím e-mailu),
      souhlasíte s tímto Prohlášením o ochraně osobních údajů a bezpečnosti.
      Toto Prohlášení se může čas od času měnit, a tyto změny mohou ovlivnit způsob, jakým využíváme níže popsané informace.
      Proto pravidelně zkontrolujte Prohlášení o ochraně osobních údajů a bezpečnosti pro aktualizace.
    </p>

    <h4 class="subsection-header">OZNÁMENÍ O TOM, JAK POUŽÍVÁME A CHRÁNÍME OSOBNÍ INFORMACE</h4>
    <p>
      Sbíráme několik typů informací pro provoz našeho podnikání, včetně, ale neomezeně na:
    </p>
    <p>
      <i>Informace, které nám poskytujete.</i> Když procházíte našimi
      webovými stránkami nebo nás kontaktujete, můžeme žádat nebo si můžete zvolit poskytnout některé informace.
      Může se jednat o informace, které vás mohou osobně identifikovat ("osobní informace"), jako je jméno, zaměstnavatel,
      e-mailová adresa nebo telefonní číslo, a záznamy a kopie vaší korespondence s námi.
      Z bezpečnostních důvodů můžeme také shromažďovat osobní informace od vás, pokud navštívíte jednu z našich kanceláří.
    </p>
    <p>
      <i>Informace získané z formulářů na našich webových stránkách.</i>
      To zahrnuje informace poskytnuté při registraci k používání částí našich webových stránek nebo našich produktů a služeb,
      při zveřejňování materiálu nebo při žádosti o další služby. Mohli bychom od vás požádat o informace,
      když nám nahlásíte problém s našimi webovými stránkami, produkty nebo službami.
    </p>
    <p>
      <i>Podrobnosti o použití, IP adresy a soubory cookie.</i>
      Jak procházíte a interagujete s našimi webovými stránkami, můžeme automaticky shromažďovat určité informace o vašem zařízení,
      prohlížečových akcích a vzorech s použitím běžných internetových technologií, jako jsou soubory cookie a webové značky.
      To může zahrnovat podrobnosti o vašich návštěvách našich webových stránek, včetně informací o vaší konektivitě,
      jako je IP adresa a informace o prohlížeči, údaje o poloze, záznamy a další komunikační údaje a zdroje,
      které na webových stránkách používáte.
      Tato informace nám pomáhá zlepšovat naše webové stránky a poskytovat lepší a více personalizovaný obsah a služby tím,
      že nám umožňuje odhadnout velikost naší cílové skupiny a vzory použití a rozpoznat vás, když se vrátíte na naše webové stránky.
    </p>
    <p>
      <i>Emailový marketing.</i> Jako stávající nebo předchozí zákazník nebo uživatel našich produktů nebo služeb
      můžete pravidelně obdržet e-maily od nás obsahující podrobnosti o funkcích produktů, které používáte,
      a/nebo o podobných produktech nebo službách, které nabízíme. Tento zpracování může zahrnovat umístění značek nebo pixelů,
      které nám dají vědět, zda jste otevřeli náš e-mail a jak dlouho byl e-mail otevřen.
      To děláme proto, abychom zjistili, které e-maily jsou účinné a které ne, abychom mohli zlepšit náš obsah a služby.
      Pomáhá nám zajistit, že dostáváte e-maily od nás, které považujete za užitečné a relevantní.
      Při tomto procesu nebudeme sledovat vaši polohu nebo informace o zařízení.
    </p>
    <p>
      <i>Obecné informace související s podnikáním.</i>
      Mohli bychom také obdržet další osobní informace od vás nebo o vás v rámci běžného provozu našeho podnikání.
    </p>
    <p>
      Informace, které o vás shromažďujeme nebo které nám poskytnete, včetně osobních informací, používáme:
    </p>
      <ul>
        <li>Pro představení našich webových stránek, produktů a služeb vám a neustálé zlepšování.</li>
        <li>Pro poskytování informací, produktů nebo služeb, které od nás požadujete.</li>
        <li>Pro informování vás o změnách našich webových stránek, produktů nebo služeb (včetně nových nabídek) a akcích nebo událostech.</li>
        <li>Pro udržení integrity a bezpečnosti našich webových stránek, produktů a služeb.</li>
        <li>Pro běžné provozní činnosti, včetně lidských
          zdrojů, náboru, investic do kapitálu a výzkumu a
          zasahování do obchodu.</li>
      </ul>
      <i>Právní základ zpracování.</i> Nemáme právo zpracovávat
      osobní údaje, pokud nemáme platný právní důvod. Proto budeme vaše osobní údaje zpracovávat pouze v následujících případech:<br>
      <ul>
        <li>zpracování je nezbytné k plnění našich smluvních
          povinností vůči vám nebo k předcházejícím krokům před uzavřením smlouvy na vaši žádost, jako je ověření vašeho přihlášení k našim službám nebo
          zajistění, že máte přístup pouze k službám a datům, se kterými jsme se dohodli
          vám poskytnout;</li>
        <li>zpracování je nezbytné k plnění našich právních nebo
          regulačních povinností, jako je hlášení daní nebo požadavky regulace;
        </li>
        <li>zpracování je nezbytné pro legitimní zájmy
          Egidia, a nepřiměřeně nezasahuje do vašich zájmů nebo základních
          práv a svobod (viz níže);</li>
        <li>zpracování je nezbytné pro plnění úkolu prováděného ve veřejném zájmu; nebo</li>
        <li>v některých případech, a jakmile to bude vyžadováno, jsme získali předchozí souhlas od vás.</li>
      </ul> Do té míry, do jaké zpracováváme jakékoli speciální kategorie vašich údajů, budeme tak činit protože:<br>
      <ul>
        <li>data byla zjevně zveřejněna;</li>
        <li>zpracování je nezbytné pro založení, výkon nebo obranu právního nároku;</li>
        <li>zpracování je nezbytné z důvodů zásadního veřejného zájmu; nebo</li>
        <li>jste nám udělili výslovný souhlas k zpracování těchto údajů (tam, kde je to právně povoleno).</li>
      </ul>

    <h4 class="subsection-header">ZVEŘEJNĚNÍ VAŠICH INFORMACÍ</h4>
    <p>
      Ochrana vašich osobních informací je pro nás důležitá,
      a proto vaše osobní informace nepronajímáme ani neprodáváme žádnému subjektu.
      Vaše osobní informace můžeme zveřejnit nebo předat podle popisu
      v tomto Prohlášení o ochraně osobních údajů a bezpečnosti, včetně následujících případů:
      <ul>
        <li>Kupci nebo jinému nástupci v případě sloučení, akvizice, odčlenění, restrukturalizace, reorganizace, rozpuštění nebo jiného prodeje nebo převodu některých nebo všech aktiv společnosti Egidio, při němž jsou osobní informace držené společností Egidio o uživatelích našich webových stránek mezi předávanými aktivy.</li>
        <li>Našim dceřiným společnostem, přidruženým společnostem, agentům, dodavatelům služeb a dalším třetím stranám,
          které používáme k podpoře našeho podnikání nebo ke spolupráci s nimi a které jsou vázány smluvními povinnostmi
          udržovat osobní informace důvěrnými a používat je pouze pro účely poskytování služeb pro nebo s námi.</li>
        <li>Pro dodržení soudního rozkazu, zákona nebo právního procesu, včetně reakce na požadavky vlády nebo regulátorů.</li>
        <li>Pro uplatnění nebo dodržení našich Podmínek použití a dalších smluv, které upravují prodej nebo použití našich produktů a služeb.</li>
        <li>K ochraně práv, majetku nebo bezpečnosti společnosti Egidio, našich zaměstnanců, našich uživatelů nebo jiných osob.</li>
      </ul>

    <h4 class="subsection-header">PŘEDÁNÍ VAŠICH INFORMACÍ</h4>
    <p>
      Pro usnadnění našich globálních operací a v souladu s příslušnými zákony můžeme předávat vaše osobní informace
      a získávat vaše osobní informace z našich korporátních kanceláří, dceřiných společností a přidružených společností
      v různých zemích, ve kterých působíme, včetně Spojených států. Země mimo EHP nemusí nabízet stejnou úroveň ochrany osobních údajů jako země EHP.
    </p>
    <p>
      Pokud jsou vaše osobní údaje předávány mimo EHP, zajistíme vhodná opatření na zajištění toho,
      že takový přenos probíhá v souladu s platnými pravidly ochrany osobních údajů.
      K zajištění této úrovně ochrany vašich osobních informací můžeme použít dohodu o přenosu dat
      s příjemcem třetí strany na základě standardních smluvních doložek schválených Evropskou komisí nebo zajistit,
      že přenos probíhá do jurisdikce, která je předmětem rozhodnutí o adekvátnosti Evropské komise,
      nebo využít jiný platný základ pro přenos, který splňuje požadavky na vhodná opatření podle GDPR.
      V tomto ohledu můžete požádat o další informace a získat informace o příslušném zabezpečení v rámci cvičení svých práv,
      jak jsou popsány níže. Když společnost Egidio předává osobní data jiným skupinovým společnostem, spoléháme se na standardní smluvní doložky.
    </p>

    <h4 class="subsection-header">VAŠE VOLBY TÝKAJÍCÍ SE POUŽÍVÁNÍ A ZVEŘEJŇOVÁNÍ VAŠICH INFORMACÍ</h4>
    <p>
      Snažíme se vám poskytovat možnosti týkající se osobních informací,
      které nám poskytujete. Zde jsou způsoby, jak můžete mít kontrolu nad svými informacemi:
    </p>
    <ul>
      <li>Technologie sledování a reklama. V závislosti na vašem prohlížeči můžete mít možnost změnit nastavení tak,
        aby odmítaly všechny nebo některé soubory cookie, nebo vás upozorňovaly na odesílání souborů cookie.
        Pokud zakážete nebo odmítnete soubory cookie, vezměte na vědomí,
        že některé části webu mohou být nedostupné nebo fungovat nesprávně. Co se týče e-mailu,
        technologii sledování e-mailu můžete vypnout tím, že zakážete načítání vložených obrázků v e-mailu.
        Toto můžete udělat pomocí nastavení e-mailového softwaru.
      </li>
      <li>Propagační nabídky od společnosti. Pokud nechcete dostávat propagační e-mailové zprávy od nás, můžete se odhlásit tím,
        že nám zašlete e-mail na adresu <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a> s žádostí o vyloučení
        z budoucího rozesílání e-mailů.
      </li>
    </ul>


    <h4 class="subsection-header">INTEGRITA A PROPORCIONALITA DAT</h4>
    <p>
      Sbíráme a uchováváme pouze tolik osobních informací, kolik je potřeba pro konkrétní,
      identifikované účely popsané v tomto Prohlášení o ochraně osobních údajů a bezpečnosti, a nebudeme je používat způsobem,
      který by byl neslučitelný s těmito účely.
    </p>

    <h4 class="subsection-header">JAKÁ JSOU VAŠE PRÁVA A JAK JE MŮŽETE UPLATNIT?</h4>
    <p>
      Můžete mít právo na přístup k vašim osobním údajům zpracovávaným společností Egidio a získat kopii těchto údajů.
      Pokud se domníváte, že informace, které o vás máme, jsou nesprávné nebo neúplné,
      můžete také požádat o opravu vašich osobních údajů.<br>
      Můžete také mít právo:
    </p>
    <ul>
      <li>namítat proti zpracování vašich osobních údajů;</li>
      <li>žádat o vymazání vašich osobních údajů;</li>
      <li>žádat o omezení zpracování vašich osobních údajů; a/nebo</li>
      <li>stáhnout svůj souhlas tam, kde společnost Egidio získala váš souhlas k zpracování osobních údajů (tento stahování však neovlivní zákonnost jakéhokoli zpracování, které probíhalo před stahováním).</li>
    </ul>
    <p>
      Budeme dodržovat takové žádosti, stahování nebo námitky,
      jak je vyžadováno podle příslušných pravidel ochrany osobních údajů,
      ale tato práva nejsou absolutní: neplatí vždy a mohou být uplatněny výjimky.
      Obvykle v reakci na žádost požádáme o ověření vaší totožnosti a/nebo o poskytnutí informací,
      které nám pomohou lépe porozumět vaší žádosti. Pokud nesplníme Vaši žádost, vysvětlíme proč.
    </p>


    <h4 class="subsection-header">UPLATŇOVÁNÍ VAŠICH PRÁV</h4>
    <p>
      Pro uplatnění výše uvedených práv můžete poslat e-mail na adresu
      <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
      Pokud nejste spokojeni s tím, jak zpracováváme vaše osobní údaje,
      dejte nám vědět a budeme vyšetřovat váš problém.
      Případné obavy můžete nahlásit kontaktováním našeho pověřence pro ochranu osobních údajů na adrese
      <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
    </p>
    <p>
      Pokud nejste spokojeni s naší odpovědí, máte právo podat stížnost u orgánu pro ochranu osobních údajů v jurisdikci,
      kde bydlíte nebo pracujete, nebo na místě, kde se domníváte, že vznikl problém týkající se vašich údajů.
      Kontaktní údaje každého orgánu pro ochranu osobních údajů najdete na následující webové stránce:
      <a href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">
        https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm
      </a>
    </p>

    <h4 class="subsection-header">BEZPEČNOST</h4>
    <p>
      Vaši bezpečnost bereme vážně a přijímáme rozumná opatření k ochraně a zabezpečení vašich osobních informací
      před neoprávněným přístupem, použitím a zveřejněním.
      Pro ochranu osobních údajů před neoprávněným, náhodným nebo nezákonným zničením, ztrátou, změnou, zneužitím,
      zveřejněním nebo přístupem a proti všem ostatním nezákonným formám zpracování jsme implementovali dostatečná technická a organizační opatření.
      Tyto bezpečnostní opatření byla implementována s ohledem na stav technologie, náklady na implementaci,
      rizika spojená s zpracováním a povahu osobních údajů, s zvláštním ohledem na citlivé údaje.
    </p>
    <p>
      Bezpečnost vašich informací také závisí na vás.
      Pokud jsme vám (nebo jste si vybrali) heslo pro přístup k určitým částem našich webových stránek, produktů nebo služeb,
      jste zodpovědní za uchování tohoto hesla v tajnosti. Prosím, neposkytujte své heslo nikomu.
    </p>
    <p>
      I když přijímáme rozumná bezpečnostní opatření k ochraně vašich osobních informací,
      například používáním šifrování Secure Socket Layer při přenosu vašeho hesla,
      nemůžeme garantovat bezpečnost vašich osobních údajů přenášených na naše webové stránky.
      Přenos informací přes internet není 100% bezpečný a nemůžeme zajistit nebo zaručit bezpečnost jakýchkoli informací, které nám přenesete.
      Nejsme zodpovědní za obcházení jakýchkoli nastavení ochrany soukromí nebo bezpečnostních opatření obsažených na webových stránkách.
    </p>

    <h4 class="subsection-header">JAK DLHO UCHOVÁVÁME VAŠE ÚDAJE?</h4>
    <p>
      Osobní údaje budeme uchovávat pouze po dobu, která je nezbytná pro splnění účelu, pro který mohou být zpracovávány zákonně,
      nebo pro splnění právních, regulačních nebo interních požadavků.
    </p>

    <h4 class="subsection-header">ZMĚNY V NAŠEM PROHLÁŠENÍ O OCHRANĚ OSOBNÍCH ÚDAJŮ A BEZPEČNOSTI</h4>
    <p>
      Můžeme čas od času upravovat toto Prohlášení o ochraně osobních údajů a bezpečnosti.
      Vyzýváme vás, abyste pravidelně navštěvovali tuto stránku, abyste četli aktuální verzi tohoto platného prohlášení.
      Pokud máte nějaké obavy nebo otázky týkající se tohoto prohlášení nebo pokud byste chtěli podat stížnost,
      kontaktujte nás prosím na <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
    </p>

    <h4 class="subsection-header">DĚTI DO 13 LET</h4>
    <p>
      Naše webové stránky nejsou určeny pro děti mladší 13 let.
      Pokud zjistíte, že vaše dítě nám poskytlo osobní informace bez vašeho souhlasu,
      kontaktujte nás na adrese <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>, a my se pokusíme je smazat.
      Vědomě nezískáváme osobní informace od dětí mladších 13 let.
    </p>

    <h4 class="subsection-header">POVĚŘENEC PRO OCHRANU OSOBNÍCH ÚDAJŮ</h4>
    <p>
      Pro komunikaci s naším pověřencem pro ochranu osobních údajů nás kontaktujte prosím na e-mailové adrese
      <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a>.
    </p>

    <h4 class="subsection-header">KONTAKTNÍ INFORMACE</h4>
    <p>
    Pokud máte jakékoliv otázky nebo komentáře týkající se tohoto Prohlášení o ochraně osobních údajů a bezpečnosti, kontaktujte nás e-mailem na adrese
    <a href="mailto:correspondence.egidio@gmail.com">correspondence.egidio@gmail.com</a> <br> nebo napište na nás na adresu:
    </p>
    <p>
      <strong>Profinit EU, s.r.o.</strong><br>
      Předmět: Právní oddělení, Záležitosti ochrany osobních údajů<br>
      Tychonova 2, 160 00 Praha 6<br>
      Česká republika
    </p>

  </div>
</div>
