<div class="mat-form-field-row">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>{{label}}</mat-label>
    <input matInput type="text" [(ngModel)]="filterValue" (ngModelChange)="onFilterChange($event)">
    <mat-spinner *ngIf="isLoading"
                 matSuffix
                 [diameter]="24"
                 [strokeWidth]="2"
                 color="primary"
                 class="margin-right-12"></mat-spinner>
    <button *ngIf="!isLoading" mat-icon-button type="button" matSuffix (click)="clearSearch()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-hint>{{hint}}</mat-hint>
  </mat-form-field>
</div>
<div class="mat-form-field-row">
  <mat-action-list class="templates-selection-list mat-elevation-z3" #list>
    <!-- Using this stupid CTRL+C/CTRL+V way of doing things because right now there's a problem with templates inside mat-action-list... -->
    <!-- Unfortunetelly, it also causes this condition to be checked two times on each redraw, which might get kinda power hungry... !-->
    <ng-container *ngIf="!dataAreObservable(data)">
      <ng-container *ngFor="let value of iterableData">
        <button mat-list-item
                type="button"
                (click)="onSelect(value)">
          <ng-template *ngIf="toStringFnAsync;else notAsyncStringFnTemplate">
            {{ observableDataValueString(value) | async }}
          </ng-template>
        </button>
      </ng-container>
      <ng-container *ngIf="nullableDataEmptyOrNull(iterableData)"
                    [ngTemplateOutlet]="resultSetEmpty">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="dataAreObservable(data);">
      <!-- Creating temporary variable not to subscribe twice - for list draw and empty data check -->
      <ng-container *ngFor="let retrievedData of [(observableData | async)]">
        <ng-container *ngFor="let value of observableData | async">
          <button mat-list-item
                  type="button"
                  (click)="onSelect(value)">
            <ng-container *ngIf="toStringFnAsync;else notAsyncStringFnTemplate">
              {{ observableDataValueString(value) | async }}
            </ng-container>
          </button>
        </ng-container>
        <ng-container *ngIf="nullableDataEmptyOrNull(retrievedData)"
                      [ngTemplateOutlet]="resultSetEmpty">
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-action-list>
</div>

<ng-template #notAsyncStringFnTemplate let-value='value'>
  {{ dataValueToString(value) }}
</ng-template>

<ng-template #resultSetEmpty>
  <div class="empty-result-container">
    Sorry, nothing to show you!
  </div>
</ng-template>
