<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="col-12 col-lg-6">
    <!-- TODO: Re-think the way user information is entered when user is logged in -->
    <div class="mat-form-field-row">
      <mat-form-field color="primary">
        <mat-label>{{"USER.FIRSTNAME_B" | translate }}</mat-label>
        <input matInput formControlName="firstname">
        <mat-error *ngIf="form.get('firstname')?.errors?.['nameInvalid']">
          {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.FIRSTNAME" | translate} }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-row">
      <mat-form-field color="primary">
        <mat-label>{{"USER.LASTNAME_B" | translate }}</mat-label>
        <input matInput type="text" formControlName="lastname">
        <mat-error *ngIf="form.get('lastname')?.errors?.['nameInvalid']">
          {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.LASTNAME" | translate} }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-row">
      <mat-form-field color="primary">
        <mat-label>{{ "USER.EMAIL_ADDRESS_B" | translate }}</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.errors?.['email'] || form.get('email')?.errors?.['required']">
          {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.EMAIL_ADDRESS" | translate} }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-row">
      <mat-form-field color="primary">
        <mat-label>{{ "USER.TELEPHONE_NUMBER_B" | translate | titlecase}}</mat-label>
        <input matInput type="text" formControlName="telephoneNumber">
        <mat-error *ngIf="form.get('telephoneNumber')?.errors?.['telephoneNumber'] || form.get('email')?.errors?.['required']">
          {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.TELEPHONE_NUMBER" | translate} }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-lg-6 padding-lr-0 padding-left-lg-25 margin-top-10">
    <app-key-value-table    [listedItems$]="listedItemsPage$"
                            [advertisementType]="oppositeAdvertisementType"
                            (edit)="onListedItemEdit($event)"
                            (delete)="onListedItemDelete($event)"
                            (resourceNameClick)="showListedItemDetail($event)"
                            (add)="onListedItemAdd()"
                            (pageChange)="changePage($event)"
                            [pageInfo]="pageInfo"
                            [pageSizes]="[5, 10, 25, 50, 100]">
    </app-key-value-table>
  </div>
  <mat-divider></mat-divider>
  <div class="col-12">
    <div class="mat-form-field-row">
      <mat-checkbox required formControlName="privacyPolicyConsent">
        * {{ "FORMS.PRIVACY_POLICY_CONSENT.PREFIX" | translate }}
        <a routerLink="/privacy-policy">
          {{ "FORMS.PRIVACY_POLICY_CONSENT.LINK" | translate }}
        </a>
      </mat-checkbox>
    </div>
    <div class="mat-form-field-row">
      <mat-checkbox required formControlName="termsOfServiceConsent">
        * {{ "FORMS.TERMS_OF_SERVICE_CONSENT.PREFIX" | translate }}
        <a routerLink="/privacy-policy">
          {{ "FORMS.TERMS_OF_SERVICE_CONSENT.LINK" | translate }}
        </a>
      </mat-checkbox>
    </div>
  </div>
  <div class="col-12 margin-top-25 margin-top-lg-5">
    <button mat-raised-button
            class="full-width"
            type="submit"
            color="primary"
            [disabled]="!!form.errors">
      {{ "FORMS.SUBMIT" | translate }}
    </button>
  </div>
</form>
