<h3 mat-dialog-title>Listed item edit</h3>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="mat-form-field-row">
      <app-listed-item-resource-search-field  class="d-block full-width"
                                              formControlName="resource">
      </app-listed-item-resource-search-field>
    </div>
    <div class="mat-form-field-row">
      <mat-form-field appearance="outline"  class="margin-top-15">
        <textarea matInput
                  formControlName="description"
                  [placeholder]="getTranslationKey('DESCRIPTION.LABEL') | translate">
        </textarea>
        <mat-label>{{"LISTED_ITEM_EDIT_DIALOG.REQUESTED_ITEM.DESCRIPTION.LABEL" | translate}}</mat-label>
        <mat-hint>{{"LISTED_ITEM_EDIT_DIALOG.REQUESTED_ITEM.DESCRIPTION.HINT" | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="mat-form-field-row">
      <mat-form-field appearance="outline"  class="margin-top-15">
        <input matInput type="number" min="1" formControlName="amount">
        <mat-label>{{"LISTED_ITEMS_TABLE.AMOUNT" | translate}}</mat-label>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions class="flex-column flex-md-row-reverse">
  <div class="col-12 col-md-6 margin-bottom-md-0 margin-bottom-5">
    <button mat-raised-button
            color="primary"
            class="full-width"
            (click)="submit(form)">{{"SAVE_BUTTON_TEXT" | translate}}</button>
  </div>
  <div class="col-12 col-md-6">
    <button mat-raised-button
            color="warn"
            class="full-width"
            (click)="close()">{{"CLOSE_BUTTON_TEXT" | translate}}</button>
  </div>
</mat-dialog-actions>
