<div class="h-centered-page-wrapper">
  <div class="login-form-wrapper d-flex flex-column justify-content-center margin-bottom-15">
    <form [formGroup]="form" (submit)="login()">
      <div class="row">
        <h2>Sign in</h2>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput formControlName="username">
          <mat-label>{{ "USER.USERNAME_B" | translate}}</mat-label>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{ "USER.PASSWORD_B" | translate }}</mat-label>
          <input #passwordInput matInput [type]="passVisibilityToggle.type" formControlName="password">
          <mat-pass-toggle-visibility #passVisibilityToggle matSuffix></mat-pass-toggle-visibility>
        </mat-form-field>
      </div>
      <div class="row button-container margin-bottom-15">
        <button mat-raised-button
                type="submit"
                color="primary">
          {{ "LOGIN_PAGE.LOGIN" | translate }}
        </button>
      </div>
      <div class="row button-container margin-bottom-25">
        <button mat-raised-button
                type="submit"
                color="primary">
          {{ "LOGIN_PAGE.FORGOTTEN_PASSWORD" | translate }}
        </button>
      </div>
      <div class="row">
        <span>
          {{ "LOGIN_PAGE.DONT_HAVE_AN_ACCOUNT_REGISTER.PREFIX" | translate }}
          <a routerLink="/register">{{ "LOGIN_PAGE.DONT_HAVE_AN_ACCOUNT_REGISTER.LINK" | translate }}</a>
        </span>
      </div>
    </form>
  </div>
</div>
