@import "src/app/constants";

.login-form-wrapper {
  min-height: $spaceBetweenFooterAndHeader;
  max-width: 350px;

  > form > .row > mat-form-field {
    width: 100%;
  }
}

.button-container {
  height: 40px;

  > button {
    height: 100% !important;
    width: 100% !important;
  }
}
