<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Email</title>
    </head>
    <body>
        <b>Česká verze:</b>
        <p>
            Byla vyžádána změna emailové adresy.<br>
            Pro dokončení změny prosím zadejte do políčka s kódem z původní adresy tento kód:<br>
            <th:block th:text="${code}"></th:block><br>
            Pokud jste o tuto změnu nežádali, prosíme, tuto zprávu ignorujte.<br>
        </p>
        <th:block th:replace="~{reusable_snippets/signature_cs.html}"></th:block>
        <hr>
        <b>English translation:</b>
        <p>
            A change of your email address has been requested.<br>
            To complete the change, please enter the following code in the field with code for current address:<br>
            <th:block th:text="${code}"></th:block><br>
            If you have not requested this change, please ignore this message.<br>
        </p>
        <th:block th:replace="~{reusable_snippets/signature_en.html}"></th:block>
    </body>
</html>