@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

mat-grid-list {
  margin: 10px;
  width: 95%;
  height: 95%;
}

mat-sidenav-container {

  @include media-breakpoint-up (md) {
    min-height: 704px;
  }

}

mat-sidenav {
  min-width: 304px;
}

.preview-grid-buttons-container {
  display: flex;
}

//Angular material gives weird margin to p elements,
// so let's just strip it away for that single case
.preview-grid-tile-title {
  margin-top: 0;
  margin-bottom: 0;
}

.preview-grid-button {
  background-color: ghostwhite;

  @include media-breakpoint-down (xs) {
    //Make button use the whole row for XS size devices
    width: 100%;
  }
}



