<div class="preview-grid-wrapper">
  <mat-grid-list #grid
                 [cols]="columns"
                 gutterSize = "10px"
                 *ngIf="items.length > 0"
  >
    <mat-grid-tile *ngFor="let item of items" class="mat-elevation-z">
      <mat-grid-tile-header>
        <div class="flex-fill preview-grid-header-column">
          <p class="preview-grid-tile-title">{{item.title | async}}</p>
        </div>
        <div
          class="flex-fill
                 d-flex
                 justify-content-end
                 gap-lg-3 gap-md-3 gap-1">
          <!-- TODO: Finish sharing of listed items -->
          <ng-container *ngIf="item.shareButtonsLink">
            <a mat-icon-button aria-label="Email" ><mat-icon>email</mat-icon></a>
            <button shareButton="facebook"
                    mat-icon-button
                    aria-label="Facebook"
                    [url]="item.shareButtonsLink"><mat-icon>facebook</mat-icon></button>
          </ng-container>
        </div>
      </mat-grid-tile-header>
      <div class="preview-grid-tile-content">
        {{item.text | async}}
      </div>
      <mat-grid-tile-footer class="gap-lg-3 gap-md-3 flex-column flex-md-row">
        <ng-container *ngFor="let buttonData of item.buttonsData">
          <!-- Link for path inside of the app -->
          <a *ngIf="!buttonData.link.isAbsolute"
             mat-flat-button
             color="accent"
             class="flex-fill preview-grid-button"
             [routerLink]="buttonData.link.value">
             {{buttonData.text | async}}
          </a>
          <!-- Link with absolute path specified (typically leading outside of the app) -->
          <a *ngIf="buttonData.link.isAbsolute"
             mat-flat-button
             color="accent"
             class="flex-fill preview-grid-button"
             [href]="buttonData.link.value">
            {{buttonData.text | async}}
          </a>
        </ng-container>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="empty-list-message-container" *ngIf="!items.length">
    <div class="empty-list-message-header">{{"PREVIEW_GRID.NO_PROJECTS_FOUND.TITLE" | translate}}</div>
    <div class="empty-list-message-text">
      {{"PREVIEW_GRID.NO_PROJECTS_FOUND.MESSAGE" | translate}}
    </div>
  </div>
</div>
