@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

mat-grid-list {
  margin: 10px;
  width: 98%;
  height: 98%;
}


.preview-grid-buttons-container {
  display: flex;
}

//Angular material gives weird margin to p elements,
// so let's just strip it away for that single case
.preview-grid-tile-title {
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
}

.preview-grid-tile-content {
  margin: 2em;
  max-height: 90%;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.preview-grid-button {
  background-color: ghostwhite;

  @include media-breakpoint-down (xs) {
    //Make button use the whole row for XS size devices
    width: 100%;
  }
}



