@import "src/app/constants";
@import "src/styles/material-theme-extension";

:host {
  display: block;
}

.error-container {
  row-gap: 25px;
  min-height: $spaceBetweenFooterAndHeader;
  max-width: 75%;
  margin: 0 auto;
  flex-grow: 1;
}

hr {
  color: $light-grey;
}

p {
  font-size: 24px;
}

h2 {
  font-size: 36px;
}
