<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<b>Česká verze:</b>
<p>
    Vaše odpověď na inzerát <a th:href="${advertisementDetailUrl}" th:text="${advertisementTitleCs}"></a> byla
    přijata.
</p>
<p>
    Vaši odpoveď i s případnou poznámkou od inzerenta můžete nalézt na následujícím odkaze:<br>
    <a th:href="${responsePreviewUrl}" th:text="${responsePreviewUrl}"></a><br>
    Původní odkaz již nebude funkční.
</p>
<th:block th:replace="~{reusable_snippets/signature_cs.html}"></th:block>
<hr>
<b>English translation:</b>
<p>
    Your response to advertisement
    &quot;<a th:href="${advertisementDetailUrl}" th:text="${advertisementTitleEn}"></a>&quot;
    has been rejected.
</p>
<p>
    The response preview together with possible note from advertiser is still available on following
    link:<br>
    <a th:href="${responsePreviewUrl}" th:text="${responsePreviewUrl}"></a><br>
    The old preview link will not work anymore.
</p>
<th:block th:replace="~{reusable_snippets/signature_en.html}"></th:block>
</body>
</html>