<app-page-sidenav [sidenavContentClasses]="['bg-white']">
  <div sidenav-content>
    <div class="col-12">
      <a mat-flat-button
         routerLinkActive="button-subpage-selected"
         [routerLink]="projectService.routeRelativeToCurrentProject$('details/intro') | async">
        {{"PROJECT_DETAILS.INTRO.LINK_NAME" | translate}}
      </a>
    </div>
    <div class="col-12">
      <a mat-flat-button
              routerLinkActive="button-subpage-selected"
              [routerLink]="projectService.routeRelativeToCurrentProject$('details/important-info') | async">
        {{"PROJECT_DETAILS.IMPORTANT_INFORMATION.LINK_NAME" | translate}}
      </a>
    </div>
  </div>
  <div main-content class="project-detail-main-content">
    <router-outlet></router-outlet>
  </div>
</app-page-sidenav>

