<app-page-sidenav [sidenavContentClasses]="['bg-white']">
  <div sidenav-content>
    <div class="col-12">
      <a mat-flat-button
         routerLinkActive="button-subpage-selected"
         [routerLink]="projectsUiService.routeRelativeToCurrentProject$('details/intro') | async">
        Intro
      </a>
    </div>
    <div class="col-12">
      <a mat-flat-button
              routerLinkActive="button-subpage-selected"
              [routerLink]="projectsUiService.routeRelativeToCurrentProject$('details/important-info') | async">
        Important information
      </a>
    </div>
    <div class="col-12">
      <button mat-flat-button>Statistics</button>
    </div>
    <div class="col-12">
      <button mat-flat-button>Galleries</button>
    </div>
  </div>
  <div main-content class="project-detail-main-content">
    <router-outlet></router-outlet>
  </div>
</app-page-sidenav>

