<div mat-dialog-content>
  <form>
    <div class='mat-form-field-row'>
      <mat-form-field color="primary">
        <mat-label>{{'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.LABEL' | translate}}</mat-label>
        <input formControlName=""
               matInput
               type="text"
               [placeholder]="'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.PLACEHOLDER' | translate">
        <mat-hint>{{'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.HINT' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class='mat-form-field-row'>
      <mat-form-field color="primary">
        <mat-label>{{'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.LABEL' | translate}}</mat-label>
        <input formControlName=""
               matInput
               type="text"
               [placeholder]="'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.PLACEHOLDER' | translate">
        <mat-hint>{{'USER_EDIT.EMAIL.CONFIRMATION_CODE_1.HINT' | translate}}</mat-hint>
      </mat-form-field>
    </div>
  </form>
</div>
