@import "src/app/constants";

:host {
  display: block;
}

.error-container {
  row-gap: 25px;
  height: $spaceBetweenFooterAndHeader;
  flex-grow: 1;
}

p {
  font-size: 24px;
}

h2 {
  font-size: 36px;
}
