<div class="col-12">
  <!-- Used empty set message from  -->
  <app-searchable-selection-list
    (itemSelect)="selectLanguage($event)"
    (search)="onFilterChange($event)"
    [dataValueToString]="langToString"
    [data]="filteredNotSelectedKnownLanguages$"
    [isLoading]="false"
    [toStringFnAsync]="false"
    [label]="'KNOWN_LANGUAGES_SELECTION_LIST.SEARCH_INPUT.LABEL' | translate"
    [placeholder]="'KNOWN_LANGUAGES_SELECTION_LIST.SEARCH_INPUT.PLACEHOLDER' | translate"
    [emptyListMessage]="'KNOWN_LANGUAGES.NO_NOT_ADDED_LANGUAGE_MATCHING_FILTER' | translate"
  ></app-searchable-selection-list>
</div>
<mat-card>
  <div class="margin-lr-15 margin-top-10">
    <h4 class="subsection-header">{{"KNOWN_LANGUAGES_SELECTION_LIST.SELECTED_LANGUAGES.TITLE" | translate}}</h4>
  </div>
  <mat-chip-listbox *ngIf="(selectedLanguages$ | async)?.length;else noLanguageSelected"
                    aria-label="Dog selection"
                    class="selected-languages-list">
    <mat-chip *ngFor="let lang of (selectedLanguages$ | async)"
              (click)="delete(lang)">
      {{lang.name}} ({{lang.code}})
      <mat-icon matChipTrailingIcon>clear</mat-icon>
    </mat-chip>
  </mat-chip-listbox>
</mat-card>
<ng-template #noLanguageSelected>
  <div class="no-language-selected">
    {{"KNOWN_LANGUAGES_SELECTION_LIST.NO_LANGUAGE_SELECTED" | translate}}
  </div>
</ng-template>
