<form class="full-width" [formGroup]="emailEditForm" (ngSubmit)="onSubmit(emailEditForm)">
  <h4 class="subsection-header">{{'USER_EDIT.EMAIL.TITLE' | translate}}</h4>
  <mat-form-field class="col-12 col-md-6" color="primary" [floatLabel]="!!user.email ? 'always' : 'auto'">
    <mat-label>{{"USER.EMAIL_ADDRESS_B" | translate}}</mat-label>
    <input formControlName="email"
           matInput
           type="text"
           [placeholder]="user.email ?? ''">
    <mat-error>
      {{'FORMS.INPUT_IS_INVALID_SUBJECT' | translate: {subject: 'USER.EMAIL_ADDRESS_S' | translate} }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" color="primary">
    <mat-label>{{"FORMS.REPEAT_SUBJECT" | translate: {subject: "USER.EMAIL_ADDRESS_S" | translate} }}</mat-label>
    <input formControlName="repeatEmail"
           matInput
           type="text"
           [placeholder]="'FORMS.REPEAT_SUBJECT' | translate: {subject: 'USER.EMAIL_ADDRESS_S' | translate}">
  </mat-form-field>
  <div class='mat-form-field-row'>
    <button mat-raised-button
            type="submit"
            color="primary"
            class="full-width">
      {{"FORMS.SUBMIT" | translate}}
    </button>
  </div>
</form>
