.contact-form {
  margin: 0 20px 20px 20px;
}

.form-section-header {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.form-column {
  padding: 0 20px;
}

mat-form-field {
  width: 100%;
}
