formly-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

:host ::ng-deep {
  .contact-us-form-group {
    margin: 20px;
    display: flex;
    flex-direction: row;
  }

  .contact-us-form-group > formly-field {
    flex: 12
  }
}
