<form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="contact-form">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 form-column">
      <div class="form-section-header">
        {{ "CONTACT_US_PAGE.SECTION_NAMES.CONTACT" | translate }}
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{"USER.FIRSTNAME" | translate | titlecase}}</mat-label>
          <input matInput formControlName="firstname">
          <mat-error *ngIf="form.get('firstname')?.errors?.['nameInvalid']">
            {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.FIRSTNAME" | translate} }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{"USER.LASTNAME" | translate | titlecase}}</mat-label>
          <input matInput type="text" formControlName="lastname">
          <mat-error *ngIf="form.get('lastname')?.errors?.['nameInvalid']">
            {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.LASTNAME" | translate} }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{ "USER.EMAIL_ADDRESS" | translate | titlecase}}</mat-label>
          <input matInput required formControlName="email">
          <mat-error *ngIf="form.get('email')?.errors?.['email'] || form.get('email')?.errors?.['required']">
            {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.EMAIL_ADDRESS" | translate} }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{ "USER.TELEPHONE_NUMBER" | translate | titlecase}}</mat-label>
          <input matInput type="text" formControlName="telephoneNumber">
          <mat-error *ngIf="form.get('telephoneNumber')?.errors?.['telephoneNumber']">
            {{ "FORMS.INPUT_IS_INVALID_SUBJECT" | translate:{subject: "USER.TELEPHONE_NUMBER" | translate} }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 form-column">
      <div class="form-section-header">
        {{ "CONTACT_US_PAGE.SECTION_NAMES.MESSAGE" | translate }}
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{"SUBJECT" | translate | titlecase}}</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>{{"TEXT" | translate | titlecase}}</mat-label>
          <textarea  matInput></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-lg-4 form-column">
      <div class="form-section-header">
        {{ "CONTACT_US_PAGE.SECTION_NAMES.ATTACHMENT" | translate }}
      </div>
      <div class="row">
        <ngx-dropzone>
          <ngx-dropzone-label>{{ "FORMS.FILE_DROP.IMAGES" | translate }}</ngx-dropzone-label>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="full-width">
    <button mat-raised-button
            class="full-width"
            type="submit"
            color="primary"
            >{{ "FORMS.SUBMIT" | translate }}</button>
  </div>
</form>
