<div class="page-content-margin">
  <div *ngIf="displayEnglishVariant">
    <h3 class="section-header">Terms of Service</h3>
    <p>
      Egidio<br>
      Electronic End-User Software License Agreement
    </p>
    <p>
      THIS AGREEMENT IS A LEGAL DOCUMENT. READ IT CAREFULLY BEFORE
      COMPLETING THE INSTALLATION PROCESS AND USING THE SOFTWARE. IT PROVIDES A
      LICENSE TO USE THE SOFTWARE AND CONTAINS WARRANTY INFORMATION AND
      LIABILITY DISCLAIMERS. BY INSTALLING AND USING THE SOFTWARE, YOU ARE
      CONFIRMING ACCEPTANCE OF THE SOFTWARE AND AGREEING TO BECOME BOUND BY
      THE TERMS OF THIS AGREEMENT. IF YOU DO NOT WISH TO DO SO, DO NOT
      COMPLETE THE INSTALLATION PROCESS. PROMPTLY RETURN THE ENTIRE PACKAGE TO
      THE PLACE WHERE YOU OBTAINED IT, FOR A FULL REFUND.
    </p>
    <ol>
      <li>Definitions<br>
        (a) "Profinit" means Profinit EU s.r.o. and its licensors, if any.<br>
        (b) "Software" means the programs supplied by Profinit
        herewith as stated in the Purchase Order or Invoice, and any and all
        parts or updates thereto.
      </li>
      <li>License<br>
        This Agreement allows you to:<br>
        (a) Install and use the Software on such a number of
        computers as the number of licenses of the Software that have been
        purchased. You must reproduce on any such copy all copyright notices and
        any other proprietary legends on the original copy of the Software.<br>
        (b) Install the Software on a storage device, such as a
        network server, and run the Software on an internal network, provided
        the number of activated installations does not exceed the number of
        licenses of the Software purchased.
      </li>
      <li>License Restrictions<br>
        You may not make or distribute copies of the Software,
        or electronically transfer the Software from one computer to another or
        over a network. You may not decompile, reverse engineer, disassemble, or
        otherwise reduce the Software to a human-perceivable form. You may not
        rent, lease or sublicense the Software. You may not modify the Software
        or create derivative works based upon the Software.
      </li>
      <li>Upgrades<br>
        If this copy of the Software is an upgrade from an
        earlier version of the Software, it is provided to you on a license
        exchange basis. You agree by your installation and use of this copy of
        the Software to voluntarily terminate your earlier end-user license and
        that you will not continue to use the earlier version of the Software
        nor transfer it to another.
      </li>
      <li>Ownership<br>
        The foregoing license gives you limited rights to use
        the Software. Although you own the media on which the Software is
        recorded, you do not become the owner of, and Profinit retains title to,
        the Software, and all copies thereof. All rights not specifically
        granted in this Agreement, including Federal and International
        Copyrights, are reserved by Profinit.
      </li>
      <li>Disclaimer of Warranty<br>
        This Software and the accompanying files are sold "as
        is" and without warranties as to performance of merchantability or any
        other warranties whether expressed or implied. Because of the various
        hardware and software environments into which Profinit Software may be
        put, no warranty of fitness for a particular purpose is offered.
      </li>
      <li>Non-Competitive Agreement<br>
        The product cannot be used for competitive purposes in
        any manner. It is agreed that any reverse engineering, be it direct or
        created through inspiration, is unlawful and strictly forbidden.
        Moreover, you agree that in no such manner have you the ability to use
        our software nor source codes, in whole or in any part, and that in so
        doing, you will be in violation of our agreement and subject to
        punishment by law.
      </li>
      <li>General<br>
        This Agreement contains the complete agreement between
        the parties with respect to the subject matter hereof, and supersedes
        all prior or contemporaneous agreements or understandings, whether oral
        or written. All questions concerning this Agreement shall be directed
        to: Profinit, egidio@profinit.eu.
      </li>
      <li>Privacy<br>
        By accepting these licensing terms you agree to the
        following terms: Profinit will collect no private information about you
        nor your organization, however, Profinit will obtain statistical
        information (such as the manufacturer of your computer, screen
        resolution, count of CPU etc.). This information will be used so that we
        can ascertain which makes and configurations are most commonly used and
        assist in the development of future applications. Furthermore, you
        agree to allow this information to be used by Profinit and their
        respective partners.
      </li>
    </ol>
  </div>

  <div *ngIf="displayCzechVariant">
    <h3 class="mb-3">
      Podmínky užití
    </h3>
    <p>
      Egidio<br>
      Elektronická licenční smlouva pro koncového uživatele
    </p>
    <p>
      TATO SMLOUVA JE PRÁVNÍ DOKUMENT. PEČLIVĚ JI PROSTUDUJTE PŘED DOKONČENÍM INSTALACE A POUŽITÍM SOFTWARE.
      OBSAHUJE LICENCI K POUŽÍVÁNÍ SOFTWARE A OBSAHUJE INFORMACE O ZÁRUKÁCH A OMEZENÍCH ODPOVĚDNOSTI.
      INSTALACÍ A POUŽITÍM SOFTWARE POTVRZUJETE SVÉ PŘIJETÍ SOFTWARE A SOUHLASÍTE S TÍM,
      ŽE SE BUDETE ŘÍDIT PODMÍNKAMI TÉTO SMLOUVY.
      POKUD SI TO NEPOŽADUJETE, NEZAKONČUJTE INSTALAČNÍ PROCES. BEZHESLOVĚ VRAŤTE CELÉ BALENÍ NA MÍSTO,
      KDE JSTE JEJ ZÍSKALI, A ZÍSKEJTE ÚPLNOU REFUNDACI.
    </p>
    <ol>
      <li>Definice<br>
      (a) "Profinit" znamená Profinit EU s.r.o. a její licencianty, pokud existují.<br>
      (b) "Software" znamená programy dodávané společností Profinit
      v souladu s objednávkou na nákup nebo fakturou a veškeré jeho části nebo aktualizace.
    </li>
      <li>Licence<br>
        Tato smlouva vám umožňuje:<br>
        (a) Instalovat a používat Software na takovém počtu
        počítačů, jaký je počet licencí na Software, které byly zakoupeny.
        Na každé takové kopii musíte reprodukovat všechny copyrightové označení a
        jiné vlastnické legendy na původní kopii Software.<br>
        (b) Nainstalovat Software na úložiště, jako je síťový server,
        a provozovat Software na interní síti,
        pokud počet aktivovaných instalací nepřekročí počet zakoupených licencí na Software.
      </li>
      <li>Omezení licence<br>
        Nesmíte vytvářet ani distribuovat kopie Software,
        ani elektronicky přenášet Software z jednoho počítače na druhý nebo
        přes síť. Nesmíte dekompilovat, zpětně inženýrovat, rozložit nebo
        jinak převést Software do lidsky vnímatelného formátu.
        Nesmíte pronajímat, pronajímat nebo podnajímat Software. Nesmíte upravovat Software
        ani vytvářet odvozené práce na základě Software.
      </li>
      <li>Aktualizace<br>
        Pokud je tato kopie Software aktualizací z dřívější verze
        Software, je vám poskytována na základě licence výměnou za licenci.
        Souhlasíte instalací a použitím této kopie Software dobrovolně ukončit svou dřívější licenci
        koncového uživatele a nebudete pokračovat v používání dřívější verze Software ani ji nepřenášet na jiný počítač.
      </li>
      <li>Vlastnictví<br>
        Předchozí licence vám dává omezená práva k používání
        Software. I když vlastníte médium, na kterém je Software zaznamenán,
        nezískáváte vlastnictví Software, a Profinit si ponechává vlastnictví
        Software a všech jeho kopií. Všechna práva, která nejsou v této smlouvě výslovně udělena,
        včetně federálních a mezinárodních autorských
        práv, jsou vyhrazena Profinit.
      </li>
      <li>Omezení záruky<br>
        Tento Software a příslušné soubory jsou prodávány "jak
        jsou" a bez záruk ohledně výkonu obchodovatelnosti nebo jiných záruk,
        ať už vyjádřených nebo předpokládaných. Kvůli různým hardwarovým a
        softwarovým prostředím, do kterých může být Software Profinit umístěn,
        nenabízí se žádná záruka vhodnosti pro konkrétní účel.
      </li>
      <li>Nekonkurenční dohoda<br>
        Produkt nesmí být používán pro konkurenční účely jakýmkoli
        způsobem. Souhlasíte, že jakékoliv zpětné inženýrství, ať už přímé nebo
        vytvořené inspirací, je nezákonné a přísně zakázáno. Navíc souhlasíte,
        že takto nemáte schopnost používat náš software ani zdrojové kódy, celé
        nebo částečně, a že tak činíte bude v rozporu s naší smlouvou a podléháte
        trestnímu stíhání podle zákona.
      </li>
      <li>Obecné ustanovení<br>
        Tato smlouva obsahuje kompletní dohodu mezi stranami
        ohledně této problematiky a nahrazuje všechny předchozí nebo současné
        úmluvy nebo dohody, ať už ústní nebo písemné. Všechny otázky týkající
        se této smlouvy směřujte na: Profinit, egidio@profinit.eu.
      </li>
      <li>Soukromí<br>
        Přijetím těchto licenčních podmínek souhlasíte s následujícími podmínkami:
        Profinit nebude sbírat žádné osobní informace o vás
        nebo vaší organizaci, nicméně Profinit získá statistické informace (jako
        je výrobce vašeho počítače, rozlišení obrazovky, počet CPU atd.). Tyto
        informace budou použity k určení, které značky a konfigurace jsou nejběžněji používány a
        pomohou při vývoji budoucích aplikací. Kromě toho
        souhlasíte s tím, že tato informace může být použita Profinit a jejími
        partnery.
      </li>
    </ol>
  </div>
</div>
