<app-page-sidenav>
  <div sidenav-content>
    <div sidenav-content
         class="bg-body">
      <div class="col-12">
        <div class="filter-form-header-container">
          {{"PROJECTS.FILTER_FORM.HEADER" | translate}}
        </div>
      </div>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm)">
        <div class="filter-form-body">
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>{{ "PROJECTS.FILTER_FORM.NAME.LABEL" | translate | titlecase}}</mat-label>
              <input matInput formControlName="text">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>{{ "PROJECTS.FILTER_FORM.AFTER.LABEL" | translate | titlecase}}</mat-label>
              <input matInput [matDatepicker]="publishedAfterPicker" formControlName="publishedAfter">
              <mat-datepicker-toggle matIconSuffix [for]="publishedAfterPicker"></mat-datepicker-toggle>
              <mat-datepicker #publishedAfterPicker></mat-datepicker>
              <button type="button"
                      mat-icon-button
                      (click)="publishedAfterPicker.select(undefined)"
                      matIconSuffix>
                <mat-icon>clear</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-12">
              <mat-label>{{ "PROJECTS.FILTER_FORM.BEFORE.LABEL" | translate | titlecase}}</mat-label>
              <input matInput [matDatepicker]="publishedBeforePicker" formControlName="publishedBefore">
              <mat-datepicker-toggle matIconSuffix [for]="publishedBeforePicker"></mat-datepicker-toggle>
              <mat-datepicker #publishedBeforePicker></mat-datepicker>
              <mat-hint  *ngIf="showBeforeEarlierThanAfterError" class="form-error">
                {{ "FORMS.ERRORS.BEFORE_EARLIER_THAN_AFTER" | translate }}
              </mat-hint>
              <button type="button"
                      mat-icon-button
                      (click)="publishedBeforePicker.select(undefined)"
                      matIconSuffix>
                <mat-icon>clear</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-inline-flex justify-content-center align-items-stretch">
          <button type="submit"
                  mat-button color="primary"
                  [disabled]="!isFilterFormValid">{{ "PROJECTS.FILTER_FORM.SUBMIT" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  <div main-content class="fill-vertical-space-between-header-footer">
    <app-preview-grid [items]="this.gridItems"
                      [maxColumns]=4
                      [multiplier]=2>
    </app-preview-grid>
  </div>
</app-page-sidenav>
