<div class="page-content-margin">
  <div class="width-lg-80 margin-lr-auto" *ngIf="responseRetrieved">
    <h3 class="section-header">
      {{"ADVERTISEMENT_RESPONSE_RESOLVE_PREVIEW.TITLE.OFFER" |translate}}
    </h3>
    <div class="col-12 col-md-6 col-lg-7 margin-top-10">
      <mat-card class="margin-bottom-25" *ngIf="response.responderNote">
        <mat-card-title>
          <div class="margin-lr-15 margin-top-10">
            <h4 class="subsection-header">
              {{"ADVERTISEMENT_RESPONSE_RESOLVE_PREVIEW.RESPONDER_NOTE.TITLE" | translate}}
            </h4>
          </div>
        </mat-card-title>
        <mat-card-content>
          {{response.responderNote}}
        </mat-card-content>
      </mat-card>
      <app-key-value-table *ngIf="responseRetrieved"
                           [listedItems$]="pageItems$"
                           [advertisementType]="oppositeAdvertisementType"
                           (resourceNameClick)="showListedItemDetail($event)"
                           [pageSizes]="[1,2,3,4,5]"
                           (pageChange)="onListedItemsPageChange($event)"
                           [pageInfo]="pageInfo">
      </app-key-value-table>
    </div>
    <div class="col-12 col-md-6 col-lg-5 margin-top-15">
      <app-user-preview [user]="response.responder ?? {}"
                        [title]="'ADVERTISEMENT.ADVERTISER_PREVIEW_CARD.TITLE' | translate">
      </app-user-preview>
      <div class="margin-top-10">
        <app-advertisement-response-side-info-preview-card [title]="'ADVERTISEMENT_RESPONSE_RESOLVE_PREVIEW.SIDE_INFO.TITLE' | translate"
                                                           [advertisementResponse]="sideInfoCardData">
        </app-advertisement-response-side-info-preview-card>
      </div>
    </div>
    <ng-container *ngIf="response.resolvableByUser || response.resolvableByToken">
    <div class='mat-form-field-row'>
      <button mat-raised-button
              type="submit"
              color="primary"
              class="full-width"
              (click)="accept()">
        {{"FORMS.ACCEPT" | translate}}
      </button>
    </div>
    <div class='mat-form-field-row'>
      <button mat-raised-button
              type="submit"
              color="warn"
              class="full-width"
              (click)="reject()">
        {{"FORMS.REJECT" | translate}}
      </button>
    </div>
    </ng-container>
  </div>
</div>
