
.filter-form-header-container {
  margin: 20px 0 0 20px;
}

mat-sidenav {
  min-width: 310px;
}

mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav-content {
  min-height: 100dvh;
}

app-preview-grid {
  display: block;
  min-height: 100dvh;
}

formly-form {
  width: 90%;
}


:host ::ng-deep {
  .mat-mdc-paginator {
    .mat-mdc-paginator-container {
      justify-content: center;
    }

    .mat-mdc-paginator-navigation-previous {
      order: 1;
    }

    .mat-mdc-paginator-range-label {
      order: 2;
    }

    .mat-mdc-paginator-navigation-next {
      order: 3;
    }
  }

  .filter-form-input {
    width: 90%;
    display: block;
    margin: 10px 0 20px 0;
  }

  .filter-form-input mat-form-field {
    width: 100%
  }
}
