<mat-sidenav-container>
  <mat-sidenav [mode]="isSmallScreen ? 'over' : 'side'"
               [(opened)]="isSidenavOpened"
               class="bg-body">
    <div class="filter-form-header-container">
      <h3 class="filter-form-header">{{"PROJECTS.FILTER_FORM.HEADER" | translate}}</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-center filter-form-content">
        <formly-form [form]="form"
                     [fields]="fields"
                     [model]="filters"
                     [options]="options">
        </formly-form>
      </div>
      <div class="col-12 d-inline-flex justify-content-center align-items-stretch">
        <button type="submit" mat-button>{{ "PROJECTS.FILTER_FORM.SUBMIT" | translate }}</button>
      </div>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [class]="['col-12', 'justify-content-end', isSmallScreen ? 'd-flex' : 'd-none']">
      <button mat-button (click)="toggleSidenavOpened()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
    <app-preview-grid [items]="projectsGridItems"
                      [maxColumns]=4
                      [multiplier]=2>
    </app-preview-grid>
    <div class="col-12 justify-content-center">
      <mat-paginator [length]="projects?.lastPage ?? 1"
                     [pageSize]="nextPageRequest.size"
                     [pageSizeOptions]="[1,2,4,8,16]"
                     (page)="onPageChanged($event)"
                     aria-label="Select page"
                     class="bg-body">
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

