<app-page-sidenav sidenavOpenIcon="filter_alt">
  <div sidenav-content
               class="bg-body">
    <div class="col-12">
      <div class="filter-form-header-container">
        {{"PROJECTS.FILTER_FORM.HEADER" | translate}}
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="filter-form-body">
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "PROJECTS.FILTER_FORM.NAME.LABEL" | translate }}</mat-label>
            <input matInput formControlName="title" placeholder="{{ 'PROJECTS.FILTER_FORM.NAME.PLACEHOLDER' | translate}}">
            <mat-hint>{{ "PROJECTS.FILTER_FORM.NAME.DESCRIPTION" | translate }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "FORMS.FILTER_FORM.PUBLISHED_AFTER.LABEL" | translate }}</mat-label>
            <input matInput
                   [matDatepicker]="afterPicker"
                   formControlName="after"
                   placeholder="{{ 'FORMS.FILTER_FORM.PUBLISHED_AFTER.PLACEHOLDER' | translate}}">
            <mat-datepicker-toggle matIconSuffix [for]="afterPicker"></mat-datepicker-toggle>
            <mat-datepicker #afterPicker></mat-datepicker>
            <button type="button"
                    mat-icon-button
                    (click)="afterPicker.select(undefined)"
                    matIconSuffix>
              <mat-icon>clear</mat-icon>
            </button>
            <mat-hint>{{ "FORMS.FILTER_FORM.PUBLISHED_AFTER.DESCRIPTION" | translate }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "FORMS.FILTER_FORM.PUBLISHED_BEFORE.LABEL" | translate }}</mat-label>
            <input matInput
                   [matDatepicker]="beforePicker"
                   formControlName="before"
                   placeholder="{{ 'FORMS.FILTER_FORM.PUBLISHED_AFTER.PLACEHOLDER' | translate}}">
            <mat-datepicker-toggle matIconSuffix [for]="beforePicker"></mat-datepicker-toggle>
            <mat-datepicker #beforePicker></mat-datepicker>
            <mat-error  *ngIf="showBeforeEarlierThanAfterError" class="form-error">
              {{ "FORMS.ERRORS.BEFORE_EARLIER_THAN_AFTER" | translate }}
            </mat-error>
            <mat-hint>{{ "FORMS.FILTER_FORM.PUBLISHED_BEFORE.DESCRIPTION" | translate }}</mat-hint>
            <button type="button"
                    mat-icon-button
                    (click)="beforePicker.select(undefined)"
                    matIconSuffix>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "PROJECTS.FILTER_FORM.CATASTROPHE_TYPE.LABEL" | translate }}</mat-label>
            <mat-select multiple="true"
                        formControlName="catastrophesTypes"
                        placeholder="{{ 'PROJECTS.FILTER_FORM.CATASTROPHE_TYPE.PLACEHOLDER' | translate}}">
              <mat-option *ngFor="let catastropheType of catastrophesTypes" [value]="catastropheType">
                {{ getCatastropheLabelTranslationKey(catastropheType) | translate }}
              </mat-option>
            </mat-select>
            <mat-hint>{{ "PROJECTS.FILTER_FORM.CATASTROPHE_TYPE.DESCRIPTION" | translate }}</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-inline-flex justify-content-center align-items-stretch">
        <button type="submit"
                mat-button color="primary"
                [disabled]="!isFilterFormValid">{{ "FORMS.FILTER_FORM.SUBMIT" | translate }}</button>
      </div>
    </form>
  </div>
  <div main-content>
    <app-preview-grid [items]="projectsGridItems"
                      [maxColumns]=4
                      [multiplier]=2>
    </app-preview-grid>
    <div class="d-flex justify-content-center full-width bg-white">
      <mat-paginator [length]="projects?.totalItemsAvailable ?? 0"
                     [pageIndex]="nextPageRequest.num"
                     [pageSize]="nextPageRequest.size"
                     [pageSizeOptions]="[1,2,4,8,16]"
                     (page)="onPageChanged($event)"
                     aria-label="Select page"
                     color="primary">
      </mat-paginator>
    </div>
  </div>
</app-page-sidenav>
