@import "src/app/constants";

.filter-form-header-container {
  margin: 35px 0 35px 30px;
}

mat-sidenav {
  min-width: 350px;
}

mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav-content {
  min-height: $spaceBetweenFooterAndHeader;
}

app-preview-grid {
  display: block;
  min-height: $spaceBetweenFooterAndHeader;
}

formly-form {
  width: 90%;
}

.filter-form-body {
  padding: 0 5%;
  > .row:not(:last-child) {
    margin-bottom: 5px;
  }
}
