@import "src/styles/breakpoints";
@import "src/styles/material-theme-extension";

.amount {
  width: 10em;
  text-align: center;
}

.actions {
  width: 5em;
  text-align: center;
}

mat-toolbar {
  height: auto !important;
  padding: 10px
}
