<div class="page-content-margin">
  <form [formGroup]="form" (submit)="onSubmit()" class=" margin-lr-auto width-100 width-lg-90">
    <div class="col-12 col-md-6">
      <span class="subsection-header">
        Výběr typu inzerátu a vzoru
      </span>
      <div class="checkboxes-group-container">
        <div class="col-12">
          <span class="checkboxes-group-title">
            {{ "HELP_LIST.FILTER_FORM.TYPE_OF_ADVERTISEMENT.LABEL" | translate }}
          </span>
        </div>
        <mat-radio-group [formControlName]="formControlsNames.advertisementType" (change)="onTypeChanged($event.value)">
          <div class="col-12 col-md-5">
            <mat-radio-button color="primary" value="offer">
              {{ "HELP_LIST.FILTER_FORM.TYPE_OF_ADVERTISEMENT.OFFERS_LABEL" | translate }}
            </mat-radio-button>
          </div>
          <div class="col-12 col-md-5">
            <mat-radio-button color="primary" value="request">
              {{ "HELP_LIST.FILTER_FORM.TYPE_OF_ADVERTISEMENT.REQUESTS_LABEL" | translate }}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div class="col-12">
        <app-searchable-selection-list
          [data]="templates$"
          (search)="onNameFilterChange($event)"
          (select)="selectTemplate($event)"
          [dataValueToString]="templateToString"
          [toStringFnAsync]="true"
          [isLoading]="templatesLoading"
        ></app-searchable-selection-list>
      </div>
    </div>
    <div class="col-12 col-md-6 padding-lr-15">
      <div class="col-6 padding-left-0 padding-right-15">
        <div class='mat-form-field-row'>
          <mat-form-field color="primary">
            <mat-label>Primary language</mat-label>
            <mat-select [formControlName]="formControlsNames.primaryLanguage">
              <mat-option [value]="'cs'">cs</mat-option>
              <mat-option [value]="'en'">en</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6 padding-left-15 padding-right-0">
        <div class='mat-form-field-row'>
          <mat-form-field color="primary">
            <mat-label>Current language</mat-label>
            <mat-select [formControlName]="formControlsNames.currentLanguage">
              <mat-option>cs</mat-option>
              <mat-option>en</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class='mat-form-field-row'>
        <mat-form-field color="primary" appearance="fill">
          <mat-label>{{"CREATE_ADVERTISEMENT.FORM.TITLE.LABEL" | translate}}</mat-label>
          <input [formControlName]="formControlsNames.advertisementTitle"
                 matInput
                 type="text"
                 placeholder="{{'CREATE_ADVERTISEMENT.FORM.TITLE.PLACEHOLDER' | translate}}">
          <mat-hint>{{'CREATE_ADVERTISEMENT.FORM.TITLE.HINT' | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div class='mat-form-field-row'>
        <mat-form-field color="primary" appearance="fill">
          <mat-label>{{"CREATE_ADVERTISEMENT.FORM.DESCRIPTION.LABEL" | translate}}</mat-label>
          <input [formControlName]="formControlsNames.advertisementDescription"
                 matInput
                 type="text"
                 placeholder="{{'CREATE_ADVERTISEMENT.FORM.DESCRIPTION.PLACEHOLDER' | translate}}">
          <mat-hint>{{'CREATE_ADVERTISEMENT.FORM.DESCRIPTION.HINT' | translate}}</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <app-key-value-table (edit)="onEdit($event)"
                           (delete)="onDelete($event)"
                           (add)="onAdd()"
                           [advertisementType]="advertisementType"
      ></app-key-value-table>
    </div>
    <div class="col-12">
      <div class='mat-form-field-row'>
        <button mat-raised-button
                type="submit"
                color="primary"
                class="full-width">
          {{"FORMS.SUBMIT" | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
