<div class="page-content-margin">
  <div  class=" margin-lr-auto width-100 width-lg-90">
    <mat-stepper [linear]="true">
      <mat-step [stepControl]="advertisementInfoStep!.form!">
        <div class="step-title-container">
          <h3>Informace o inzerátu</h3>
        </div>
        <app-create-advertisement-info-form #advertisementInfoStep
          (typeChange)="onTypeChanged($event)"
          [initAdvertisementType]="advertisementType">
        </app-create-advertisement-info-form>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperNext color="primary">
            {{"CREATE_ADVERTISEMENT.NEXT_STEP" | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-title-container">
          <h3>Nabízené/poptávané věci</h3>
        </div>
        <app-create-advertisement-listed-items #listedItemsEditStep
          [advertisementType]="advertisementType">

        </app-create-advertisement-listed-items>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperPrevious color="accent">
            {{"CREATE_ADVERTISEMENT.PREVIOUS_STEP" | translate}}
          </button>
          <button mat-raised-button matStepperNext color="primary">
            {{ "CREATE_ADVERTISEMENT.NEXT_STEP" | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step>
      <!--  <div class="step-title-container">
          <h3>Kontakt</h3>
        </div>
        <div class="col-12 col-md-10 col-lg-8 margin-lr-auto d-block">
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Firstname</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Lastname</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Email</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Repeat email</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Telephone number</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class='mat-form-field-row margin-lr-md-15'>
              <mat-form-field color="primary">
                <mat-label>Repeat telephone number</mat-label>
                <input formControlName="Firstname"
                       matInput
                       type="text"
                       placeholder="Firstname">
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperPrevious color="accent">Previous</button>
        </div>-->
      </mat-step>
    </mat-stepper>
  </div>
</div>
