@import "src/styles/material-theme-extension";

.templates-selection-list {
  border: 1px solid $light-grey;
}

.step-title-container {
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  text-align: center;
  margin-bottom: 1.5em;
}

::ng-deep {
  .mat-horizontal-stepper-header-container
  {
    overflow-x: auto;
  }
  .mat-horizontal-stepper-header
  {
    min-width: fit-content;
  }
}
