<div class="page-content-margin">
  <div  class=" margin-lr-auto width-100 width-lg-90">
    <mat-stepper [linear]="true">
      <mat-step [stepControl]="advertisementInfoStep.form"
                [label]="'CREATE_ADVERTISEMENT.ADVERTISEMENT_INFO_STEP.TITLE' | translate">
        <div class="step-title-container">
          <h3>{{'CREATE_ADVERTISEMENT.ADVERTISEMENT_INFO_STEP.TITLE' | translate}}</h3>
        </div>
        <app-create-advertisement-info-form #advertisementInfoStep
          (typeChange)="onTypeChanged($event)"
          [initAdvertisementType]="advertisementType"
          (defaultLanguageChange)="onDefaultLanguageChange($event)">
        </app-create-advertisement-info-form>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperNext color="primary" (click)="advertisementInfoStep.preSubmit()">
            {{"CREATE_ADVERTISEMENT.NEXT_STEP" | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step [label]="'CREATE_ADVERTISEMENT.LISTED_ITEMS.LABEL' | translate">
        <div class="step-title-container">
          <ng-container *ngIf="advertisementType === 'request';else offeredItemsTitle">
            <h3>{{'CREATE_ADVERTISEMENT.LISTED_ITEMS.REQUESTED_ITEMS_TITLE' | translate}}</h3>
          </ng-container>
          <ng-template #offeredItemsTitle>
            <h3>{{'CREATE_ADVERTISEMENT.LISTED_ITEMS.OFFERED_ITEMS_TITLE' | translate}}</h3>
          </ng-template>
        </div>
        <app-create-advertisement-listed-items #listedItemsEditStep
          [advertisementType]="advertisementType"
          [defaultLanguage]="defaultLanguage">

        </app-create-advertisement-listed-items>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperPrevious color="accent">
            {{"CREATE_ADVERTISEMENT.PREVIOUS_STEP" | translate}}
          </button>
          <button mat-raised-button matStepperNext color="primary">
            {{ "CREATE_ADVERTISEMENT.NEXT_STEP" | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-title-container">
          <h3>Kontakt</h3>
        </div>
        <div class="col-12 d-inline-flex justify-content-end gap-25 flex-column flex-md-row">
          <button mat-raised-button matStepperPrevious color="accent">Previous</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
