<div class="page-content-margin">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 d-block margin-lr-auto">
    <mat-card>
      <mat-card-content>
        <app-user-firstname-lastname-edit-form [user]="user">
        </app-user-firstname-lastname-edit-form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-email-edit-form [user]="user">
        </app-user-email-edit-form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-telephone-number-edit-form [user]="user">
        </app-user-telephone-number-edit-form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-published-contact-detail-edit [user]="user">
        </app-user-published-contact-detail-edit>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-spoken-languages-edit-form [user]="user">
        </app-user-spoken-languages-edit-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
