@import "styles/material-theme-extension";

body {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
}

.scale-1-5 {
  transform: scale(1.5);
}

@import "src/styles/addons/tiny-grid";
@import "src/styles/bootstrap-like-things";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
