@import "styles/material-theme-extension";
@import "src/app/constants";
@import "node_modules/ngx-bar-rating/themes/br-default-theme";

body {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

h3.section-header {
  font-size: 1.5em;
  font-weight: bold;
}

.subsection-header {
  font-size: 18px;
  font-weight: bold !important;
}

.scale-1-5 {
  transform: scale(1.5);
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.form-error {
  color: $error-text-color
}

.h-centered-page-wrapper {
  display: table;
  margin: auto;
  min-height: $spaceBetweenFooterAndHeader;
}

.fill-space-between-header-footer {
  width: 100%;
  min-height: $spaceBetweenFooterAndHeader;
}

.fill-vertical-space-between-header-footer {
  min-height: $spaceBetweenFooterAndHeader;
}

.mat-form-field-row {
  @extend .row;
  > mat-form-field {
    width: 100%;
  }
  margin: 10px 0;
}

.no-margin-row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.page-content-margin {
  margin: 20px
}

.confirm-dialog-head > h5 {
  color: $primary !important;
}

.nx-confirm-button-cancel {
  background-color: $warn  !important;
}

.nx-confirm-button-ok {
  background-color: $primary !important;
  color: $primary-contrast !important;
}

.bg-none {
  background: none;
}

.success-notification {
  background: $success !important;
  path {
    fill: darken($success, 15%)
  }
}

@import "src/styles/addons/tiny-grid";
@import "src/styles/bootstrap-like-things";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
