<div class="col-12 col-md-4">
  <div class="col-12">
    <app-searchable-selection-list
      (itemSelect)="selectTemplate($event)"
      (search)="onNameFilterChange($event)"
      [dataValueToString]="templateToString"
      [data]="templates$"
      [isLoading]="templatesLoading"
      [toStringFnAsync]="true"
    ></app-searchable-selection-list>
  </div>
</div>
<div class="col-12 col-md-8 padding-lr-15">
  <app-key-value-table (add)="onAdd()"
                       (delete)="onDelete($event)"
                       (edit)="onEdit($event)"
                       (resourceNameClick)="showListedItemDetail($event)"
                       [advertisementType]="advertisementType"
                       [listedItems$]="listedItems$"
  ></app-key-value-table>
</div>
