<app-rated-entity-preview-card
  [title]="'RATING_CARDS.USER.HEADER' | translate"
  [maxRating]="5"
  [currentRating]="3"
  [imgUrl]="'https://cdn.pixabay.com/photo/2022/10/31/20/27/lioness-7560708_960_720.jpg'">
  <app-rated-entity-preview-card-table>

    <app-rated-entity-preview-card-table-row>
      <app-rated-entity-preview-card-table-column [isKeyColumn]="true">
        {{"USER.USERNAME_B" | translate}}:
      </app-rated-entity-preview-card-table-column>
      <app-rated-entity-preview-card-table-column>
        <a routerLink="abc" class="text-only-link">
          john.doe
        </a>
      </app-rated-entity-preview-card-table-column>
    </app-rated-entity-preview-card-table-row>

    <app-rated-entity-preview-card-table-row>
      <app-rated-entity-preview-card-table-column [isKeyColumn]="true">
        {{"USER.FIRSTNAME_AND_SURNAME_B" | translate}}:
      </app-rated-entity-preview-card-table-column>
      <app-rated-entity-preview-card-table-column>
        John Doe
      </app-rated-entity-preview-card-table-column>
    </app-rated-entity-preview-card-table-row>

    <app-rated-entity-preview-card-table-row>
      <app-rated-entity-preview-card-table-column [isKeyColumn]="true">
        {{"USER.EMAIL_ADDRESS_B" | translate}}:
      </app-rated-entity-preview-card-table-column>
      <app-rated-entity-preview-card-table-column>
        john@doe.com
      </app-rated-entity-preview-card-table-column>
    </app-rated-entity-preview-card-table-row>

    <app-rated-entity-preview-card-table-row>
      <app-rated-entity-preview-card-table-column [isKeyColumn]="true">
        {{"USER.TELEPHONE_NUMBER_B" | translate}}:
      </app-rated-entity-preview-card-table-column>
      <app-rated-entity-preview-card-table-column>
        +420123456789
      </app-rated-entity-preview-card-table-column>
    </app-rated-entity-preview-card-table-row>

  </app-rated-entity-preview-card-table>
</app-rated-entity-preview-card>
