$primary: #3aacda;
$info: #182e61;
$success: #47ae79;
$warning: #c49e41;
$danger: #f44336;
$light: #6eeffd;
$dark: #05e61;

$body-bg: $light;
$body-color: $dark;

$theme-colors: (
    primary: $primary,
    info: $info,
    success: $success,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark
);

.bg-primary * {
  color: white;
}
