@import "constants";

.wrapper {
  min-height: $spaceBetweenFooterAndHeader
}

:host .wrapper ::ng-deep {
  > :last-child {
    display: block;
    min-height: $spaceBetweenFooterAndHeader;
    width: 100%;
  }
}
