@import "src/app/constants";
@import "material-theme-extension";


.filter-form-header-container {
  padding: 2em 10px;
  font-size: 1.25em;
  font-weight: bold;
}

.filter-form-body {
  padding: 0 5%;
  > .row {
    margin-bottom: 1rem;
  }
}

.checkboxes-group-container {
  margin: 8px
}
