@use '@angular/material' as mat;

$primary-palette: mat.$deep-purple-palette;
$dark-primary: mat.get-color-from-palette($primary-palette, 600);
$darker-primary: mat.get-color-from-palette($primary-palette, 800);
$primary: mat.get-color-from-palette($primary-palette, 500);
$primary-contrast: mat.get-contrast-color-from-palette($primary-palette, 400);
$primary-contrast-lighter: scale-color($primary-contrast, $lightness: +15%);
$primary-contrast-darker: scale-color($primary-contrast, $lightness: -15%);
$lighter-primary: mat.get-color-from-palette($primary-palette, 300);
$error-text-color: rgb(224, 64, 64);
$light-grey: rgb(160, 160, 160);

.bg-darker-primary { background-color: $dark-primary};
.color-darker-primary { color: $dark-primary};

.text-only-link {
  position: relative;
  text-decoration: none;
  animation: underline-text-only-link .25s 1 reverse;
  color: $darker-primary;
  cursor: pointer;

  &:hover {
    font-weight: bolder;
  }
}

.bg-lighter-primary {
  background-color: $lighter-primary;
}
