@import "src/app/constants";

mat-toolbar {
  padding: 10px;
  align-items: center;
  height: $headerHeight;
}

.navItemsContainer ul li {
  padding-left: 30px;
}

.nav-item-selected {
  text-decoration: underline;
}

.navbar-brand-table tr:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.navbar-brand-table {
  margin: 10px 20px 10px 5px;
}

.navbar-brand-table tr {
  text-align: center;
  height: 32px;
}

.navbar-brand-project-title {
  text-decoration: none;
  font-size: 22px;
}

.navbar-brand-platform-title {
  text-decoration: none;
  font-size: 24px;
}

.nav-item {
  margin-left: 25px;
  min-width: 2em;

  > mat-form-field {
    margin-top: 15px
  }
}

#langSelect {
  width: 4em;
}


