<mat-toolbar>
  <mat-toolbar-row>
    <table class="navbar-brand-table">
      <tr><td><a class="navbar-brand-platform-title" routerLink="projects">Egidio</a></td></tr>
      <tr *ngIf="project">
        <td>
          <a class="navbar-brand-project-title" [routerLink]="projectHomepage">
            {{ translatedProjectTitle$ | async}}
          </a>
        </td>
      </tr>
    </table>
    <span class="nav-item">
      <a mat-button [routerLink]="getNavLink('projects')" [routerLinkActive]="'nav-item-selected'">
        {{'SECTIONS.PROJECTS' | translate | titlecase}}
      </a>
    </span>
    <span class="nav-item">
      <a mat-button [routerLink]="getNavLink('faq')" [routerLinkActive]="'nav-item-selected'">
        {{'SECTIONS.FAQ' | translate | titlecase}}
      </a>
    </span>
    <span class="nav-item">
      <a mat-button [routerLink]="getNavLink('contact-us')" [routerLinkActive]="'nav-item-selected'">
        {{'SECTIONS.CONTACT_US' | translate | titlecase}}
      </a>
    </span>
    <span class="nav-item">
      <mat-form-field appearance="fill" id="langSelect">
        <mat-select (selectionChange)="changeLanguage($event.value)" value="{{currentLanguage}}">
          <mat-option *ngFor="let lang of languages"
                      [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
