@import "src/app/constants";
@import "src/styles/material-theme-extension";

mat-toolbar {
  padding: 10px;
  align-items: center;
  min-height: $headerHeight;
}

mat-toolbar-row  {
  height: 4em;
  //Other children of mat-toolbar-row like brand table,
  > :not(.nav-item, .nav-sub-item) {
    margin: 0 40px 0 0;
  }
}

.navbar-menu-toggle-button-row {
  margin: 0 !important;
}

.navbar-brand-table {
  margin: 10px 20px 10px 5px;
  width: 100%;
  table-layout: fixed;
  line-height: 2em;
}

.navbar-brand-table tr {
  height: 32px;

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.navbar-brand-project-title {
  text-decoration: none;
  font-size: 1.2em;
  color: $primary-contrast;
  &:hover {
    color: $primary-contrast-darker;
  }
}

.navbar-brand-platform-title {
  text-decoration: none;
  font-size: 1.4em;
  color: $primary-contrast;

  &:hover {
    color: $primary-contrast-darker;
  }
}

//Spacing between nav-items
//Left child is excluded as it already has some margin/padding thanks to parent element
.nav-item:not(:first-child) {

  min-width: 2em;
  margin-left: 50px;
}

.nav-sub-item {
  min-width: 1em;
  margin-left: 6px;
}

.second-level-header {
  background: $primary;
  color: $primary-contrast;
  padding: 0 20px;
}

.second-level-toolbar-row {
  height: 2em;
  padding-bottom: 2em;
  justify-content: center;
}

#langSelect {
  width: 8em;
  text-align: center;
}

:host ::ng-deep {
  #langSelect {
    //Wasn't able to findout better way to accomplish my goal,
    //which was to make language selection without background, border, and with text being centered.
    //Downside of this approach is that it's easy to be broken by future updates of angular,
    // as it's modifying internal structure of Angular Material select component.

    //Make language selection arrow visible without background
    .mat-mdc-select-arrow {
      color: $primary-contrast !important;
    }

    //Make selected language text arrow visible without background
    .mat-mdc-select-value-text {
      color: $primary-contrast !important;
    }

    //Remove outline border (border around language selection
    .mdc-notched-outline > * {
      border: 0;
    }

    //Hide element with underline for language selection.
    //Eventhough this element is not visible anyway, it moves language text up, so it's not center.
    //Thanks to this language text is centered
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.desktop-brand-row {
  height: 2em;
  display: flex;
}
