@import "src/app/constants";
@import "src/styles/material-theme-extension";

mat-toolbar {
  padding: 10px;
  align-items: center;
  min-height: $headerHeight;
}

mat-toolbar-row  {
  height: 4em;
  > * {
    margin: 0 40px 0 0;
  }
}

.navbar-brand-table tr:not(:last-of-type) {
  border-bottom: 1px solid black;
  margin: 2em 0;
  display: table-row;
}

.navbar-menu-toggle-button-row {
  margin: 0 !important;
}

.navbar-brand-table {
  margin: 10px 20px 10px 5px;
  width: 100%;
  table-layout: fixed;
  line-height: 2em;
}

.navbar-brand-table tr {
  height: 32px;

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.navbar-brand-project-title {
  text-decoration: none;
  font-size: 1.25em;
  color: $primary-contrast;
  &:hover {
    color: $primary-contrast-darker;
  }
}

.navbar-brand-platform-title {
  text-decoration: none;
  font-size: 1.75em;
  color: $primary-contrast;

  &:hover {
    color: $primary-contrast-darker;
  }
}

.nav-item {
  margin-left: 25px;
  min-width: 2em;

  > mat-form-field {
    margin-top: 15px
  }
}

.second-level-header {
  background: $primary;
  color: $primary-contrast;
  padding: 0 20px;
}

#langSelect {
  width: 4em;
}

:host ::ng-deep {
  #langSelect {
    .mat-mdc-select-arrow {
      color: $primary-contrast !important;
    }

    .mat-mdc-select-value-text {
      color: $primary-contrast !important;
    }

    .mdc-notched-outline > * {
      border-color: $primary !important;
    }
  }
}
