<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid gap-2">
    <table class="navbar-brand-table">
      <tr><td><a class="navbar-brand" routerLink="projects">Egidio</a></td></tr>
      <tr *ngIf="project"><td><a class="navbar-brand" [routerLink]="projectHomepage">{{project.title}}</a></td></tr>
    </table>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="projectPrefix + 'projects'" [routerLinkActive]="'nav-item-selected'">
            {{'SECTIONS.PROJECTS' | translate | titlecase}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'faq'" [routerLinkActive]="'nav-item-selected'">
            {{'SECTIONS.FAQ' | translate | titlecase}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contact-us'" [routerLinkActive]="'nav-item-selected'">
            {{'SECTIONS.CONTACT_US' | translate | titlecase}}
          </a>
        </li>
      </ul>
      <div>
        <select #langSelect (change)="changeLanguage(langSelect.value)">
          <option *ngFor="let lang of languages"
                  [defaultSelected]="lang == currentLanguage"
                  value="{{ lang }}">
            {{ lang }}
          </option>
        </select>
      </div>
    </div>
  </div>
</nav>
